<% 
    const Data = {
        positions: (id) => {
            let res
            for(let i = 0; i < data.positions.length; i++){
                if(data.positions[i].id === id){
                    res = data.positions[i].type
                }
            }
            return res
        }, 
        partylist: (id) => {
            let res
            for(let i = 0; i < data.partylists.length; i++){
                if(data.partylists[i].id === id){
                    res = data.partylists[i].type
                }
            }
            return res
        }, 
        course: (id) => {
            let res
            for(let i = 0; i < data.course.length; i++){
                if(data.course[i].id === id){
                    res = data.course[i].type
                }
            }
            return res
        }, 
        year: (id) => {
            let res
            for(let i = 0; i < data.year.length; i++){
                if(data.year[i].id === id){
                    res = data.year[i].type
                }
            }
            return res
        }, 
    }
%> 
<div class="ca_details ca_tabs">
    <div style="animation-delay: .250s;" class="animate__animated animate__fadeInUp ms-500 flex flex-col gap-2 justify-center items-center px-2 py-3">
        <img class="h-40 w-40 ring-2 dark:ring-gray-600 rounded-full object-cover" src="/profile/<%- candidateInfo.student_id %>">
        <div class="flex flex-col gap-1 justify-center items-center">
            <p class="dark:text-gray-300 font-medium text-lg"><%- candidateInfo.fullname %></p>
            <p class="dark:text-gray-400 font-normal text-sm"><%- `${Data.positions(candidateInfo.position)} at ${Data.partylist(candidateInfo.partylist)}` %></p>
        </div>
    </div>
    <div style="animation-delay: .500s;" class="animate__animated animate__fadeInUp ms-500 px-3 mt-3">
        <div class="dark:bg-darkBlue-100 rounded-lg flex flex-col shadow-md ">
            <p class="dark:text-purple-600 text-base font-medium px-3 py-2">Platform</p>
            <div class="flex justify-start px-3 py-2 break-words dark:text-gray-300/80"><%- candidateInfo.platform %></div>
        </div>
    </div>
    <div style="animation-delay: .750s;"class="animate__animated animate__fadeInUp ms-500 flex flex-col gap-2 px-3 mt-3">
        <div class="dark:bg-darkBlue-100 rounded-lg flex flex-col shadow-md">
            <p class="dark:text-purple-600 text-base font-medium px-3 py-2">Reactions</p>
            <div class="flex justify-start px-3 py-1">
                <span class="dark:text-gray-300/80"><%- candidateInfo.reactions.length %></span>
            </div>
        </div>
        <div class="dark:bg-darkBlue-100 rounded-lg flex flex-col shadow-md">
            <p class="dark:text-purple-600 text-base font-medium px-3 py-2">Views</p>
            <div class="flex justify-start px-3 py-1">
                <span class="dark:text-gray-300/80"><%- candidateInfo.views.length %></span>
            </div>
        </div>
        <div class="dark:bg-darkBlue-100 rounded-lg flex flex-col shadow-md">
            <p class="dark:text-purple-600 text-base font-medium px-3 py-2">Course & Year</p>
            <div class="flex justify-start px-3 py-1">
                <span class="dark:text-gray-300/80"><%- `${Data.course(candidateInfo.course)} ${Data.year(candidateInfo.year)}` %></span>
            </div>
        </div>
    </div>
</div>
<div class="ca_profile ca_tabs" style="display: none;">
    <div style="animation-delay: .250s;" class="animate__animated animate__fadeInUp ms-500 flex flex-col gap-2 justify-center items-center px-2 py-3">
        <img class="h-40 w-40 ring-2 dark:ring-gray-600 rounded-full object-cover" src="/profile/<%- candidateInfo.student_id %>">
        <div class="flex flex-col gap-1 justify-center items-center">
            <p class="dark:text-gray-300 font-medium text-lg"><%- `${candidatesUserInfo.firstname} ${candidatesUserInfo.middlename} ${candidatesUserInfo.lastname}` %></p>
            <p class="dark:text-gray-400 font-normal text-sm"><%- `${Data.course(candidatesUserInfo.course)} ${Data.year(candidatesUserInfo.year)}` %></p>
        </div>
    </div>
    <div style="animation-delay: .500s;" class="animate__animated animate__fadeInUp ms-500 px-3 mt-3">
        <div class="dark:bg-darkBlue-100 rounded-lg flex flex-col shadow-md">
            <p class="dark:text-purple-600 text-base font-medium px-3 py-2">Bio</p>
            <div class="flex justify-start px-3 py-1 break-words dark:text-gray-300/80"><%- candidatesUserInfo.bio %></div>
        </div>
    </div>
    <div style="animation-delay: .750s;"class="animate__animated animate__fadeInUp ms-500 flex flex-col gap-2 px-3 mt-3">
        <div class="dark:bg-darkBlue-100 rounded-lg flex flex-col shadow-md">
            <p class="dark:text-purple-600 text-base font-medium px-3 py-2">Active Status</p>
            <div class="flex justify-start px-3 pb-3 break-words dark:text-gray-300/80">
                <% if(candidatesUserInfo.socket_id !== "Offline") { %> 
                    <span class="dark:bg-teal-700/40 bg-teal-600 dark:text-teal-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg">Online</span>
                <% } else { %>
                    <span class="dark:bg-gray-700 bg-gray-600  text-gray-300 px-4 py-0.5 text-sm rounded-lg">Offline</span>
                <% } %>
            </div>
        </div>
    </div>
</div>