<div class="file_c animate__animated animate__fadeInRightBig">
    <div class="file_c_t">Candidacy Form</div>
    <form class="fl_c">
        <div class="wmsu_inpt_main">
            <select name="pos" class="wmsu_inpt wmsu_inpt_focus pos" required>
                <option value="">Position</option>
                <% for( let i = 0; i < positions.length; i++ ) { %>
                    <option value='<%- positions[i].name %>'><%- positions[i].name %></option>
                <% } %>
            </select>
        </div>
        <div class="wmsu_inpt_main">
            <select name="pty" class="wmsu_inpt wmsu_inpt_focus pty" required>
                <option value="">Partylist</option>
                <% for( let i = 0; i < partylist.length; i++ ) { %>
                    <option value='<%- partylist[i] %>'><%- partylist[i] %></option>
                <% } %>
                <option value="Independent">Independent</option>
            </select>
        </div>
        <div class="wmsu_inpt_main">
            <input type="text" name="crs" class="wmsu_inpt wmsu_inpt_focus crs" value="<%- user_crs %> " readonly>
        </div>
        <div class="wmsu_inpt_main">
            <textarea name="platform" class="wmsu_inpt wmsu_inpt_focus" placeholder="Platform" required></textarea>
        </div>
        <div class="wmsu_inpt_main">
            <button type="submit" class="wmsu_btn">Submit</button>
        </div>
        <input type="reset" style="display: none;">
    </form>
</div>
<script>
    setTimeout(() => {
        $(".file_c").removeClass("animate__animated animate__fadeInLeftBig")
    }, 1000);
</script>