<% if(!joined) { %> 
<% if(elections.length !== 0) { %>
    <div class="h-screen pt-[64px] pb-1">
        <div class="container p-2 px-5 flex md:px-2 items-center transition-all">
            <span class="dark:text-gray-300 text-bluegray-900 text-2xl md:text-xl text-center font-medium">Elections that you have joined</span>
        </div>
        <div class="w-full grid grid-cols-2 md:grid-cols-none gap-3 py-3 md:pt-0.5 px-5 md:px-2 transition-all">
            <% 
                const electionData = {
                    voterStatus: (student_id) => {
                        if(elections.length !== 0){
                            const voters = elections[0].voters 
                            for(let i = 0; i < voters.length; i++){
                                if(voters[i].student_id === student_id){
                                    return voters[i].status
                                }
                            }
                        }
                    }
                }
            %> 
            <% for (let i = 0; i < elections.length; i++) { %>
                <div data="election-<%- elections[i]._id %>" style="animation-delay: <%- i * .250 %>s;" class="animate__animated animate__fadeInUp ms-500 rounded-xl dark_border dark:bg-darkBlue-secondary">
                        <div class="grid grid-cols-2 sm:flex sm:flex-col">
                            <div class="container">
                                <img class="object-cover w-full h-full sm:h-52 rounded-tl-xl rounded-bl-xl sm:rounded-bl-none sm:rounded-tr-xl skeleton-image" alt="election_icon" data="<%- elections[i].election_title.split(" ").length >= 2 ? `${elections[i].election_title.split(" ")[0].charAt(0).toUpperCase()} ${elections[i].election_title.split(" ")[1].charAt(0).toUpperCase()}` : elections[i].election_title.split(" ")[0].charAt(0).toUpperCase() %>">
                            </div>
                            <div class="container">
                                <div class="py-0.5 px-2 flex flex-col">
                                    <div class="flex items-center md:justify-center p-2 px-3">
                                        <span class="dark:text-purple-500 text-lg md:text-xl font-medium text-bluegray-900" id="election_title"><%- elections[i].election_title %></span>
                                    </div>
                                    <div class="flex flex-col gap-1 px-3">
                                        <span class="dark:text-gray-300/80 text-base font-medium">Election ID</span>
                                        <div class="flex justify-start w-full">
                                            <span class="dark:text-gray-400 font-light break-all"><%- elections[i]._id %></span>
                                        </div>
                                    </div>
                                    <div class="grid grid-rows-2 gap-1 px-3">
                                        <span class="dark:text-gray-300/80 text-base font-medium">Election Status</span>
                                        <div class="flex justify-start w-full" id="election_status">
                                        <% if(elections[i].status === 'Not Started') { %>
                                            <span class="dark:bg-amber-700/40 bg-amber-600 dark:text-amber-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg"><%- elections[i].status %></span>
                                        <% } %> 
                                        <% if(elections[i].status === 'Started') { %>
                                            <span class="dark:bg-teal-700/40 bg-teal-600 dark:text-teal-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg"><%- elections[i].status %></span>
                                        <% } %> 
                                        <% if(elections[i].status === 'Pending for deletion') { %>
                                            <span class="dark:bg-rose-700/40 bg-rose-600 dark:text-rose-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg animate-pulse-2"><%- elections[i].status %></span>
                                        <% } %>
                                        <% if(elections[i].status === 'Ended') { %>
                                            <span class="dark:bg-red-700/40 bg-red-600 dark:text-red-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg"><%- elections[i].status %></span>
                                        <% } %>
                                        </div>
                                    </div>
                                    <div class="grid grid-rows-2 gap-1 px-3">
                                        <span class="dark:text-gray-300/80 text-base font-medium">Voters</span>
                                        <div class="flex w-full justify-start px-2">
                                            <span class="dark:text-gray-400 font-light break-all" id="election_voters_count"><%- elections[i].voters.length %></span>
                                        </div>
                                    </div>
                                    <div class="grid grid-rows-2 gap-1 px-3">
                                        <span class="dark:text-gray-300/80 text-base font-medium">Request Status</span>
                                        <div class="flex justify-start w-full" id="voter_election_request">
                                        <% if(electionData.voterStatus(userData.student_id) === 'Pending') { %>
                                            <span class="dark:bg-amber-700/40 bg-amber-600 dark:text-amber-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg animate-pulse-2"><%- electionData.voterStatus(userData.student_id) %></span>
                                        <% } %> 
                                        <% if(electionData.voterStatus(userData.student_id) === 'Accepted') { %>
                                            <span class="dark:bg-teal-700/40 bg-teal-600 dark:text-teal-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg"><%- electionData.voterStatus(userData.student_id) %></span>
                                        <% } %> 
                                        <% if(electionData.voterStatus(userData.student_id) === 'Deleted') { %>
                                            <span class="dark:bg-rose-700/40 bg-rose-600 dark:text-rose-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg"><%- electionData.voterStatus(userData.student_id) %></span>
                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-center items-center px-4 py-2.5 mt-2">
                                    <a href="/home/election/id/<%- elections[i]._id %>/" class="rpl transition-all rounded-md cursor-pointer dark:bg-purple-800 dark:hover:bg-purple-700 dark:text-gray-300 text-bluegray-900 focus:outline-none dark:focus:ring-2 dark:focus:ring-offset-2 dark:focus:ring-offset-darkBlue-secondary dark:focus:ring-purple-800 font-normal px-3 py-1.5 w-full text-center">Goto Election</a>
                                </div>
                            </div>
                        </div>
                </div>
            <% } %>
        </div>
    </div>
    <script>
        $(document).ready( function() {
            $(".skeleton-image").each( function () {
                setTimeout( () => {
                    $(this).attr("src", avatar($(this).attr("data"), "#fff", dark()))
                    $(this).removeClass("skeleton-image")
                }, 500)
            })
        })
    </script>
<% } else { %>
    <div class="h-screen pt-[64px] flex justify-center items-center overflow-hidden">
        <div class="flex flex-col gap-5">
            <div class="flex items-center justify-center w-full py-5">
                <span style="animation-delay: .250s;" class="animate__animated animate__fadeInDown ms-500 dark:text-purple-600 font-medium text-2xl">No Elections Yet</span>
            </div>
            <div style="animation-delay: .450s;"  class="animate__animated animate__fadeInUp ms-500">
                <svg id="b21613c9-2bf0-4d37-bef0-3b193d34fc5d" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                    class="w-full h-full" viewBox="0 0 647.63626 632.17383">
                    <path class="dark:fill-[#161b226b]"
                        d="M687.3279,276.08691H512.81813a15.01828,15.01828,0,0,0-15,15v387.85l-2,.61005-42.81006,13.11a8.00676,8.00676,0,0,1-9.98974-5.31L315.678,271.39691a8.00313,8.00313,0,0,1,5.31006-9.99l65.97022-20.2,191.25-58.54,65.96972-20.2a7.98927,7.98927,0,0,1,9.99024,5.3l32.5498,106.32Z"
                        transform="translate(-276.18187 -133.91309)" />
                    <path
                        d="M725.408,274.08691l-39.23-128.14a16.99368,16.99368,0,0,0-21.23-11.28l-92.75,28.39L380.95827,221.60693l-92.75,28.4a17.0152,17.0152,0,0,0-11.28028,21.23l134.08008,437.93a17.02661,17.02661,0,0,0,16.26026,12.03,16.78926,16.78926,0,0,0,4.96972-.75l63.58008-19.46,2-.62v-2.09l-2,.61-64.16992,19.65a15.01489,15.01489,0,0,1-18.73-9.95l-134.06983-437.94a14.97935,14.97935,0,0,1,9.94971-18.73l92.75-28.4,191.24024-58.54,92.75-28.4a15.15551,15.15551,0,0,1,4.40966-.66,15.01461,15.01461,0,0,1,14.32032,10.61l39.0498,127.56.62012,2h2.08008Z"
                        transform="translate(-276.18187 -133.91309)" fill="#3f3d56" />
                    <path
                        d="M398.86279,261.73389a9.0157,9.0157,0,0,1-8.61133-6.3667l-12.88037-42.07178a8.99884,8.99884,0,0,1,5.9712-11.24023l175.939-53.86377a9.00867,9.00867,0,0,1,11.24072,5.9707l12.88037,42.07227a9.01029,9.01029,0,0,1-5.9707,11.24072L401.49219,261.33887A8.976,8.976,0,0,1,398.86279,261.73389Z"
                        transform="translate(-276.18187 -133.91309)" fill="#6b21a8" />
                    <circle cx="190.15351" cy="24.95465" r="20" fill="#6b21a8" />
                    <circle cx="190.15351" cy="24.95465" r="12.66462" fill="current" />
                    <path class="dark:fill-[#161b226b]"
                        d="M878.81836,716.08691h-338a8.50981,8.50981,0,0,1-8.5-8.5v-405a8.50951,8.50951,0,0,1,8.5-8.5h338a8.50982,8.50982,0,0,1,8.5,8.5v405A8.51013,8.51013,0,0,1,878.81836,716.08691Z"
                        transform="translate(-276.18187 -133.91309)"  />
                    <path
                        d="M723.31813,274.08691h-210.5a17.02411,17.02411,0,0,0-17,17v407.8l2-.61v-407.19a15.01828,15.01828,0,0,1,15-15H723.93825Zm183.5,0h-394a17.02411,17.02411,0,0,0-17,17v458a17.0241,17.0241,0,0,0,17,17h394a17.0241,17.0241,0,0,0,17-17v-458A17.02411,17.02411,0,0,0,906.81813,274.08691Zm15,475a15.01828,15.01828,0,0,1-15,15h-394a15.01828,15.01828,0,0,1-15-15v-458a15.01828,15.01828,0,0,1,15-15h394a15.01828,15.01828,0,0,1,15,15Z"
                        transform="translate(-276.18187 -133.91309)" fill="#3f3d56" />
                    <path
                        d="M801.81836,318.08691h-184a9.01015,9.01015,0,0,1-9-9v-44a9.01016,9.01016,0,0,1,9-9h184a9.01016,9.01016,0,0,1,9,9v44A9.01015,9.01015,0,0,1,801.81836,318.08691Z"
                        transform="translate(-276.18187 -133.91309)" fill="#6b21a8" />
                    <circle cx="433.63626" cy="105.17383" r="20" fill="#6b21a8" />
                    <circle cx="433.63626" cy="105.17383" r="12.18187" fill="current" />
                </svg>
            </div>
        </div>
    </div>
<% } %>
<% } else { %>
    <% 
        const electionData = {
            voterStatus: (student_id) => {
                if(elections.length !== 0){
                    const voters = elections.voters 
                    for(let i = 0; i < voters.length; i++){
                        if(voters[i].student_id === student_id){
                            return voters[i].status
                        }
                    }
                }
            }
        }
    %> 
    <div class="pt-16 w-full h-screen">
        <div class="p-1 grid grid-rows-3 w-full h-full">
            <div class="flex flex-col gap-3 justify-center items-center">
                <div style="animation-delay: .150s;" class="dark:text-purple-600 text-purple-700 text-6xl font-bold text-center sm:text-3xl animate__animated animate__fadeInUp"><%- elections.election_title %></div>
                <div style="animation-delay: .650s;" class="dark:text-purple-300 text-purple-400 text-base animate__animated animate__fadeInDown break-words px-96 lg:px-48 md:px-20 sm:px-3 text-center"><%- elections.election_description %></div>
            </div>
            <div class="mt-5 flex flex-col justify-center items-center">
                <p style="animation-delay: .150s;" class="dark:text-purple-600 text-purple-700 text-xl font-semibold animate__animated animate__fadeInUp">
                    <% if(elections.status === 'Not Started') { %>
                        <%- 'Election will begin in' %>
                    <% } %>
                    <% if(elections.status === 'Started') { %>
                        <%- 'Election will end in' %>
                    <% } %>
                    <% if(elections.status === 'Ended') { %>
                        Election ended <span class="time" data="<%- elections.end %>"></span>
                    <% } %>
                    <% if(elections.status === 'Pending for deletion') { %>
                        <%- 'Election will be deleted in' %>
                    <% } %>
                </p>
                <% if(elections.status === 'Not Started') { %>
                    <div style="animation-delay: .650s;" id="e_time" class="flipdown animate__animated animate__fadeInUp" data="<%- elections.start %>"></div>
                <% } %>
                <% if(elections.status === 'Started') { %>
                    <div style="animation-delay: .650s;" id="e_time" class="flipdown animate__animated animate__fadeInUp" data="<%- elections.end %>"></div>
                <% } %>
                <% if(elections.status === 'Ended') { %>
                    <div style="animation-delay: .650s;" id="e_time" class="flipdown animate__animated animate__fadeInUp" data="<%- elections.end %>"></div>
                <% } %>
                <% if(elections.status === 'Pending for deletion') { %>
                    <div style="animation-delay: .650s;" id="e_time" class="flipdown animate__animated animate__fadeInUp" data="<%- elections.deletion_status %>"></div>
                <% } %>
            </div>
            <div style="animation-delay: .750s;" class="animate__animated animate__fadeInUp flex flex-col justify-center items-center">
                <div class="flex flex-row gap-2 items-center justify-center">
                    <span class="dark:text-gray-400">Request Status : </span>
                    <% if(electionData.voterStatus(userData.student_id) === 'Pending') { %>
                        <span class="dark:bg-amber-700/50 bg-amber-600 dark:text-amber-500 text-gray-50 px-3 p-y-2 rounded-lg animate-pulse-2"><%- electionData.voterStatus(userData.student_id) %></span>
                    <% } else if(electionData.voterStatus(userData.student_id) === 'Accepted') { %>
                        <span class="dark:bg-teal-700/50 bg-teal-600 dark:text-teal-500 text-gray-50 px-3 p-y-2 rounded-lg"><%- electionData.voterStatus(userData.student_id) %></span>
                    <% } else if(electionData.voterStatus(userData.student_id) === 'Deleted') { %>
                        <span class="dark:bg-red-700/50 bg-red-600 dark:text-red-500 text-gray-50 px-3 p-y-2 rounded-lg">Request deleted</span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script>
        //get the election starting time  
        new FlipDown((new Date($("#e_time").attr("data")).getTime() / 1000), "e_time").start().ifEnded( () => {

        })
        //set the theme of flipdown 
        $("#e_time").removeClass(localStorage.getItem('theme') === "dark" ? 'flipdown__theme-dark' : 'flipdown__theme-light')
        $("#e_time").addClass(localStorage.getItem('theme') === "dark"? 'flipdown__theme-light' : 'flipdown__theme-dark')
    </script>
<% } %>