<% if(is_join_election) { %>
    <div class="pt-16 w-full h-screen">
        <div class="p-1 grid grid-rows-3 w-full h-full">
            <div class="flex flex-col gap-3 justify-center items-center">
                <div style="animation-delay: .150s;" class="dark:text-purple-600 text-6xl font-bold text-center sm:text-3xl animate__animated animate__fadeInUp"><%- election.election_title %></div>
                <div style="animation-delay: .650s;" class="dark:text-purple-400 text-base animate__animated animate__fadeInDown"><%- election.election_description %></div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <div class="flex flex-row gap-2 items-center justify-center">
                    <span class="dark:text-gray-400">Request Status : </span>
                    <% if(voterStatus.status === 'Pending') { %>
                        <span class="dark:bg-amber-700/50 dark:text-amber-500 px-3 p-y-2 rounded-lg animate-pulse"><%- voterStatus.status %></span>
                    <% } else if(voterStatus.status === 'Accepted') { %>
                        <span class="dark:bg-teal-700/50 dark:text-teal-500 px-3 p-y-2 rounded-lg"><%- voterStatus.status %></span>
                    <% } %>
                </div>
            </div>
            <div class="mt-5 flex flex-col justify-center items-center">
                <p style="animation-delay: .150s;" class="dark:text-purple-600 text-xl font-semibold animate__animated animate__fadeInUp">
                    <%- started && !end ? 'Election will end in' : started && end ? `Election ended ${endtime}` : `Election will begin in` %>
                </p>
                <div style="animation-delay: .650s;" id="e_time" class="flipdown animate__animated animate__fadeInDown" data="<%- election.start %>"></div>
            </div>
        </div>
    </div>
    <script>
        //get the election starting time  
        let e_start = (new Date($("#e_time").attr("data")).getTime() / 1000)
        let flipdown = new FlipDown(e_start, "e_time")
        flipdown.start()
        flipdown.ifEnded(() => {
            
        })
        //set the theme of flipdown 
        const themer = localStorage.getItem('theme') === "dark" ? true : false
        $("#e_time").removeClass(themer ? 'flipdown__theme-dark' : 'flipdown__theme-light')
        $("#e_time").addClass(themer ? 'flipdown__theme-light' : 'flipdown__theme-dark')
    </script>
<% } else { %>
    
<% } %>