<% 
    const Data = {
        mycourse: (id) => {
            for(let i = 0; i < data.courses.length; i++){
                if(id === data.courses[i].id){
                    return data.courses[i].type
                }
            }
        },
        myyear: (id) => {
            for(let i = 0; i < data.year.length; i++){
                if(id === data.year[i].id){
                    return data.year[i].type
                }
            }
        }
    }
%> 
<div class="account_settings_item animate__animated animate__fadeInDown ms-500 overflow-x-hidden overflow-y-auto flex flex-col text-coolgray-50">
    <form data="cy" class="change_cy flex flex-col gap-3 p-2">
        <button type="reset"></button>
        <div class="container flex flex-col gap-1">
            <label class="text-bluegray-900 dark:text-gray-300" for="crs">Course</label>
            <select name="crs" class="w-full dark:bg-darkBlue-secondary outline-none appearance-none dark_border dark:bg-transparent py-2 px-3 dark:text-gray-300 rounded-lg focus:border-purple-500 dark:focus:border-purple-700 transition-all" required>
                <optgroup label="Current Course">
                    <option selected value=""><%- Data.mycourse(userData.course) %></option>
                </optgroup>
                <optgroup label="Courses">
                    <% for (let i = 0; i < data.courses.length; i++) { %>
                        <option value="<%- data.courses[i].id %>"><%- data.courses[i].type %></option>
                    <% } %>
                </optgroup>
            </select>
        </div>
        <div class="container flex flex-col gap-1">
            <label class="text-bluegray-900 dark:text-gray-300" for="yr">Year</label>
            <select name="yr" class="w-full dark:bg-darkBlue-secondary outline-none appearance-none dark_border dark:bg-transparent py-2 px-3 dark:text-gray-300 rounded-lg focus:border-purple-500 dark:focus:border-purple-700 transition-all" required >
                <optgroup label="Current Year">
                    <option selected value=""><%- Data.myyear(userData.year) %></option>
                </optgroup>
                <optgroup label="Year">
                    <% for (let i = 0; i < data.year.length; i++) { %>
                        <option value="<%- data.year[i].id %>"><%- data.year[i].type %></option>
                    <% } %>
                </optgroup>
            </select>
        </div>
        <div class="container border-l-4 dark:border-amber-700 dark:bg-amber-700/40 dark:text-coolgray-300 text-sm px-2 py-1">Your Course & Year will be updated once the admin accept your request</div>
        <% if(userData.settings.courseAndyear.status) { %>
            <div class="grid grid-cols-2 items-center">
                <span class="text-sm dark:text-gray-400">Request Status</span>
                <div class="flex justify-end items-center">
                    <% if(userData.settings.courseAndyear.status === 'Pending') { %>
                        <span class="dark:bg-amber-700/40 animate-pulse-2 bg-amber-600 dark:text-amber-500 text-gray-50 px-3 py-0.5 text-sm rounded-full"><%- userData.settings.courseAndyear.status %></span>
                    <% } %> 
                    <% if(userData.settings.courseAndyear.status === 'Accepted') { %>
                        <span class="dark:bg-teal-700/40 bg-teal-600 dark:text-teal-500 text-gray-50 px-3 py-0.5 text-sm rounded-full"><%- userData.settings.courseAndyear.status %></span>
                    <% } %> 
                    <% if(userData.settings.courseAndyear.status === 'Rejected') { %>
                        <span class="dark:bg-rose-700/40 bg-rose-600 dark:text-rose-500 text-gray-50 px-3 py-0.5 text-sm rounded-full"><%- userData.settings.courseAndyear.status %></span>
                    <% } %>
                </div>
            </div>
        <% } %>
        <div class="container flex justify-center items-center">
            <button type="submit" class="w-full rpl dark:bg-purple-900 dark:hover:bg-purple-800 dark:text-gray-200 transition-all text-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-800 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-gray-50 dark:ring-offset-darkBlue-secondary focus:ring-purple-600 dark:focus:ring-purple-800">Request Change</button>
        </div>
    </form>
</div>