<!DOCTYPE html>
<html lang="en" class="font-sans antialiased">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#121212">
    <title><%- data[0].firstname + ' ' + data[0].middlename + ' ' + data[0].lastname %></title>
    <%- include('cdn/_profile.ejs') %>
    <!--  -->
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
    <link rel="stylesheet" type="text/css" href="/others/sweetalert_mod.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/custom/custom.css">
</head>

<body>
    <div class="conn">Connecting to server <span class="dot"></span></div>
    <!-- custom popup start -->
    <div class="my_popup"></div>
    <!-- end of custom popup -->
    <div class="main">
        <div class="main_nav">
            <a class="wmsu_btn main_btn_nav fa fa-home" href="../../"></a>
            <a class="wmsu_btn main_btn_nav fa fa-caret-down right profile_settings"></a>
            <div class="nav_actions right">
                <div class="nty_nav">
                    <i class="nty_nav_btn fa fa-bell"><span class="nav_nty_cnt"></span></i>
                    <div class="nty_main">
                        <div class="nty_t">
                            <p class="t_nty">Notifications</p>
                        </div>
                        <div class="nty">
                            <% if(profile){ %>
                                <%- include('notification/_nty', {nty: data[0].notifications}) %>
                            <% } else { %>
                                <%- include('notification/_nty', {nty: nty}) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav_actions right">
                <div class="msg_nav">
                    <i class="msg_ic fa fa-comment"><span class="nav_msg_cnt"></span></i>
                    <div class="msgs">
                        <div class="t_msg">
                            <div class="t_msg">
                                <div class="m">
                                    <p class="t_m">Messages<i class="ic_search_user fa fa-search"></i></p>
                                    <div class="s">
                                        <i class="ic_back fa fa-arrow-alt-circle-left"></i>
                                        <input type="text" autocomplete="off" placeholder="Search. . ." class="search_user wmsu_inpt wmsu_inpt_focus" name="search_use">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_msg">
                            <div class="user_msg_search">
                                <div class="msg msg_s_loading" text="Searching . . ."></div>
                            </div>
                            <div class="msg_main">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile">
        <%- include('profile/_profile.ejs', {profile: profile, data: data}) %>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/audio_file.js"></script>
    <script src="/js/audio.js"></script>
    <script src="/js/toast.js"></script>
    <script src="/js/scroll_div.js"></script>
    <script src="/js/avatar.js"></script>
    <script src="/js/time.js"></script>
</body>

</html>
