<% if(search.length == 0){ %> 
    <div class="msg">
        <p class="not_found">Cannot Find <%= data %></p>
    </div>
<% } else { 
    for( let i = 0; i < search.length; i++ ) { 
        
        if(userid.toString() != search[i]._id.toString()){ 
            var badge
            if(search[i].socket_id == "Offline") {
                badge = 'badge_offline' 
            } else if(search[i].socket_id == "Waiting For Student"){
                badge = 'badge_wait' 
            } else {
                badge = "" 
            }%>
            <a class="chat_user" href="?chat=<%=search[i]._id%>" style="text-decoration: none;" data-id="<%=search[i]._id%>">
                <div class="msg">
                    <table width="100%">
                        <tr>
                            <td width="10px"><img class="img_user" alt="user" src="/assets/logo.png"></td>
                            <td><p class="msg_name"><%= search[i].fullname %></p></td>
                            <td><div class="badge <%= badge %>"></div></td>
                        </tr>
                    </table>
                </div>
            </a>
        <% } } }%>