<% if(voters.length !== 0) { 
    for (let i = 0; i < voters.length; i++) { %>
        <div data="<%- voters[i].id %>" style="animation-delay: <%- i * .150 %>s;" class="animate__animated animate__fadeInUp ms-300 h-[78px] dark_border dark:bg-[#161b22] z-0 p-[8px] md:w-full cursor-pointer flex flex-row shadow-xl bg-gray-100 rounded-2xl transition-all">
            <div class="flex flex-row w-full">
                <div class="relative">
                    <img class="h-[60px] w-[60px] rounded-full object-cover" src="/assets/image.jpg" alt="user profile">
                    <div class="absolute h-[15px] w-[15px] rounded-full bg-green-600 right-[1px] bottom-1"></div>
                </div>
                <div class="grid grid-flow-col flex-[80%]">
                    <div class="justify-center gap-1 w-full flex flex-col pl-3">
                        <span class="text-base dark:text-gray-400"><%- voters[i].fullname %></span>
                        <span class="text-sm dark:text-gray-400"><%- `${voters[i].course} ${voters[i].year}` %></span>
                    </div>
                    <div class="w-full flex-row justify-end items-center flex">
                        <a data="<%- voters[i].id %>" class="rpl rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-lg dark:text-cyan-600">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                    </div>
                </div> 
            </div>
        </div>
    <% }
} else { %>
    <div style="animation-delay: .150s;" class="col-span-3 animate__animated animate__fadeInUp ms-300 h-[78px] dark_border dark:bg-[#161b22] z-0 p-[8px] md:w-full cursor-pointer flex flex-row shadow-xl bg-gray-100 rounded-2xl transition-all">
        <div class="flex w-full justify-center items-center">
            <span class="dark:text-gray-300 text-lg">No voters yet</span>
        </div>
    </div>
<% } %>