<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" class="theme-color" content="#6b21a8">
    <title>Course & Year</title>
    <%- include('../cdn/_home') %>
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
</head>
<body class="bg-gray-300 dark:bg-[#090c10] transition-all antialiased">
    <div class="w-full z-10 bg-gray-100 dark:bg-darkBlue-secondary shadow-lg grid grid-cols-2 fixed top-0 p-2 px-3 transition-all">
        <div class="flex justify-start items-center">
            <a href="/control" class="rpl transition-all dark:text-gray-200 text-bluegray-600 text-2xl px-2 cursor-pointer mr-2">
                <i class="fa fa-arrow-circle-left"></i>
            </a>
            <span class="font-bold text-purple-700 dark:text-purple-500 text-xl xsm:text-base">Course & Year</span>
        </div>
        <div class="flex items-center justify-end">
            <a class="add_cy_btn flex flex-row gap-2 items-center cursor-pointer rpl text-xl rounded-md p-2 px-3">
                <span class="text-purple-700 dark:text-purple-500">
                    <i class="fas fa-plus-circle"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="w-full flex flex-col mt-[70px] h-[calc(100vh-75px)] p-2">
        <div class="grid grid-cols-2 w-full">
            <div>
                <div class="w-full c cursor-pointer rpl flex justify-start items-center rounded-l-lg bg-purple-500 dark:bg-purple-900 p-3">
                    <p class="font-medium text-gray-50 dark:text-gray-200 text-base">Course</p>
                </div>
            </div>
            <div> 
                <div class="w-full y cursor-pointer rpl flex justify-start items-center rounded-r-lg bg-purple-500 dark:bg-purple-900 p-3">
                    <p class="font-medium text-gray-50 dark:text-gray-200 text-base">Year</p>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-none w-full">
            <div class="c_list flex flex-col gap-1 py-2 px-1">
                <% if(course.length !== 0) { %>
                    <% for( let i = 0; i < course.length; i++ ) { %>
                        <div data="<%- course[i].id %>" style="animation-delay: <%- i * .150 %>s;" class="rpl animate__animated animate__fadeInUp ms-800 group grid bg-gray-100 even:bg-gray-200 dark:bg-darkBlue-secondary dark:even:bg-darkBlue-secondary/40 rounded-md p-3 cursor-pointer">
                            <div class="grid grid-cols-2">
                                <p class="font-semibold text-bluegray-900 text-base dark:text-gray-300"><%- course[i].type %></p>
                                <div class="transition-all animate__animated animate__fadeInLeft ms-300 hidden group-hover:flex flex-row justify-end items-center">
                                    <a data="<%- course[i].id %>" class="rpl px-2 cursor-pointer text-green-600">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a data="<%- course[i].id %>" class="rpl px-2 cursor-pointer text-rose-600">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="rpl empty_list animate__animated animate__fadeInUp ms-300 group flex justify-center items-center dark:bg-darkBlue-secondary bg-gray-100 rounded-md p-3 cursor-pointer">
                        <p class="font-semibold text-bluegray-900 dark:text-gray-300 text-base">Nothing to fetch</p>
                    </div>
                <% } %>
            </div>
            <div class="y_list flex sm:hidden flex-col gap-1 py-2 px-1">
                <% if(year.length !== 0) { %>
                    <% for( let i = 0; i < year.length; i++ ) { %>
                        <div data="<%- year[i].id %>" style="animation-delay: <%- i * .150 %>s;" class="rpl animate__animated animate__fadeInUp ms-800 group grid bg-gray-100 even:bg-gray-200 dark:bg-darkBlue-secondary dark:even:bg-darkBlue-secondary/40 rounded-md p-3 cursor-pointer">
                            <div class="grid grid-cols-2">
                                <p class="font-semibold text-bluegray-900 text-base dark:text-gray-300"><%- year[i].type %></p>
                                <div class="transition-all animate__animated animate__fadeInLeft ms-300 hidden group-hover:flex flex-row justify-end items-center">
                                    <a data="<%- year[i].id %>" class="rpl px-2 cursor-pointer text-green-600">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a data="<%- year[i].id %>" class="rpl px-2 cursor-pointer text-rose-600">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="empty_list rpl animate__animated animate__fadeInUp ms-300 group flex justify-center items-center bg-gray-100 dark:bg-darkBlue-secondary rounded-md p-3 cursor-pointer">
                        <p class="font-semibold text-bluegray-900 dark:text-gray-300 text-base">Nothing to fetch</p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="add_cy fixed justify-end items-center bg-gray-900/40 dark:bg-gray-900/60 p-2 hidden w-full h-full top-0 z-50">
        <div animate-in="animate__animated animate__fadeInRight ms-300" animate-out="animate__animated animate__fadeOutRight ms-300" class="add_cy_main animate__animated animate__fadeInRight ms-300 bg-gray-50 dark:bg-darkBlue-secondary dark_border flex flex-col rounded-lg h-full w-96 sm:w-full">
            <div class="flex justify-center items-center p-3 dark_border_b border-b border-gray-300">
                <p class="font-bold text-xl text-purple-500 py-2">Add Course & Year</p>
            </div>
            <form class="add_cy grid grid-rows-2 h-[calc(100%-70px)]">
                <div class="flex flex-col gap-3 pt-6 px-3">
                    <label class="font-medium pl-1 dark:text-gray-400" for="course">Course</label>
                    <input type="text" name="course" placeholder="Course" autocomplete="off" class="text-input w-full p-[10px] border border-gray-300 dark_border dark:bg-transparent outline-none focus:ring-2 focus:ring-purple-400 dark:focus:ring-purple-500 dark:focus:border-purple-500 transition-all rounded-lg" required>
                    <label class="font-medium pl-1 dark:text-gray-400" for="year">Year</label>
                    <input type="text" name="year" placeholder="Year" autocomplete="off" class="text-input w-full p-[10px] border border-gray-300 dark_border dark:bg-transparent outline-none focus:ring-2 focus:ring-purple-400 dark:focus:ring-purple-500 dark:focus:border-purple-500 transition-all rounded-lg" required>
                </div>
                <div class="flex flex-row w-full justify-center items-end p-2">
                    <div class="w-full flex flex-row p-1 gap-2">
                        <button type="reset" class="hidden"></button>
                        <button type="button" class="close_add_cy rpl transition-all text-red-600 dark:text-rose-500 dark:font-medium border border-rose-500 dark:border-rose-600  font-normal py-[5px] rounded-lg outline-none mt-4 w-full">Close</button>
                        <button type="submit" class="rpl dark:disabled:bg-purple-400 disabled:bg-purple-500 rpl dark:hover:bg-purple-700 hover:bg-purple-600 dark:bg-purple-800 bg-purple-700 text-white dark:text-gray-200 transition-all font-normal py-[5px] rounded-lg focus:ring focus:ring-offset-2 dark:focus:ring-purple-700 focus:ring-purple-500 focus:outline-none focus:shadow-outline mt-4 w-full">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/theme.js"></script>
    <script src="/js/time.js"></script>
    <script src="/js/toast.js"></script>
    <script src="/control/js/cy.js "></script>
    <script>
        $.ripple(".rpl", {
            debug: false,
            on: 'mousedown',
            opacity: 0.3,
            color: "auto",
            multi: false,
            duration: 0.7,
            rate: function(pxPerSecond) {
                return pxPerSecond;
            },
            easing: 'linear'
        })
    </script>
</body>
</html>