<% if(elections.length === 0) { %>
    <div class="flex w-full justify-center items-center col-span-3">
        <div style="animation-delay: .200s;" class="p-2 px-4 w-96 lg:w-full animate__animated animate__fadeIn cursor-pointer shadow-xl bg-gray-100 dark:bg-[#161b22] rounded-xl transition-all">
            <div class="flex flex-col gap-4 py-3">
                <p class="font-semibold text-center py-3 text-xl dark:text-gray-300">Nothing to fetch</p>
            </div>
        </div>
    </div>
<% } else { %>
    <% for (let i = 0; i < elections.length; i++) { %>
        <div style="animation-delay: <%- i * .250 %>s;" class="animate__animated animate__fadeInUp ms-500 w-full dark:bg-darkBlue-secondary shadow-md bg-gray-100  px-4 rounded-xl transition-all">
            <div class="py-3">
                <div class="flex flex-row gap-3 items-center justify-center float-right">
                    <span class="dark:text-gray-300 sm:text-sm">Status :</span>
                    <% if(elections[i].status === 'Not Started') { %>
                        <div class="dark:bg-yellow-600/50 bg-yellow-700 text-gray-100 dark:text-gray-300 py-0.5 text-sm px-2 rounded-2xl"><%- elections[i].status %></div>
                    <% } else if(elections[i].status === 'Started') { %>
                        <div class="dark:bg-teal-600/50 bg-teal-700 text-gray-100 dark:text-gray-300 py-0.5 text-sm px-5 rounded-2xl"><%- elections[i].status %></div>
                    <% } else if(elections[i].status === 'Ended') { %>
                        <div class="dark:bg-rose-600/50 bg-rose-700 text-gray-100 dark:text-gray-300 py-0.5 text-sm px-5 rounded-2xl"><%- elections[i].status %></div>
                    <% } else { %>
                        <div class="dark:bg-red-600/50 bg-red-700 text-gray-100 dark:text-gray-300 py-0.5 text-sm px-2 rounded-2xl"><%- elections[i].status %></div>
                    <% } %>
                </div>
                <span class="p-2 dark:text-gray-400 text-purple-700 text-xl sm:text-base"><%- elections[i].election_title %></span>
            </div>
            <div class="container p-1 dark_border_b pb-3">
                <canvas id="<%- `election-${i}-${elections[i].id}` %>"></canvas>
            </div>
            <div class="flex flex-row p-2 justify-center items-center">
                <a href="/control/elections/id/<%- elections[i]._id %>/home" class="group cursor-pointer dark:text-gray-300 p-2 transition-all rpl rounded-md px-3 hover:text-purple-600 dark:hover:text-purple-500">More info
                    <i class="ml-1 mt-2 dark:text-purple-500 text-purple-700 group-hover:ml-3 transition-all">
                        <i class="fad fa-chevron-circle-right"></i>
                    </i>
                </a>
            </div>
        </div>
        <script>
            var ctx = document.getElementById("<%- `election-${i}-${elections[i].id}` %>")
                var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Voters", "Partylist", "Positions", "Course", "Year"],
                    datasets: [{
                        label: 'Election Details',
                        data: [
                            <%- elections[i].voters.length %>, 
                            <%- elections[i].partylist.length %>, 
                            <%- elections[i].positions.length %>,
                            <%- elections[i].courses.length %>, 
                            <%- elections[i].year.length %>
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                }
                });
        </script>
    <% }
} %>