<% 
    const candidatesData = {
        course: (id) => {
            for(let i = 0; i < data.course.length; i++){
                if(id === data.course[i].id){
                   return data.course[i].type
                }
            }
        }, 
        year: (id) => {
            for(let i = 0; i < data.year.length; i++){
                if(id === data.year[i].id){
                    return data.year[i].type
                }
            }
        },
        positions: (id) => {
            for(let i = 0; i < data.positions.length; i++){
                if(id === data.positions[i].id){
                    return data.positions[i].type
                }
            }
        }, 
        partylists: (id) => {
            for(let i = 0; i < data.partylists.length; i++){
                if(id === data.partylists[i].id){
                    return data.partylists[i].type
                }
            }
        }
    }
%>
<% if(candidates.length !== 0) { %>
    <% for(let i = 0; i < candidates.length; i++) { %> 
        <div data="<%- candidates[i].id %>" style="animation-delay: <%- i * .150 %>s;" class="user_candidates animate__animated animate__fadeInUp ms-300 dark:hover:border-purple-700/50 hover:border-purple-600/50 min-h-[78px] dark_border dark:bg-[#161b22] z-0 p-[8px] md:w-full cursor-pointer flex flex-row shadow-xl bg-gray-100 rounded-2xl transition-all">
            <div class="flex flex-row w-full">
                <img class="h-[60px] w-[60px] rounded-full object-cover skeleton-image" data="<%- `${candidates[i].fullname.split(" ")[0].split("")[0]}${candidates[i].fullname.split(" ")[2].split("")[0]}` %>" alt="user profile">
                <div class="grid grid-flow-col flex-[80%]">
                    <div class="justify-center gap-1 w-full flex flex-col pl-3">
                        <span class="text-base dark:text-gray-400"><%- candidates[i].fullname %></span>
                        <span class="text-sm dark:text-gray-400"><%- `${candidatesData.course(candidates[i].course)} ${candidatesData.year(candidates[i].year)}` %></span>
                    </div>
                </div> 
            </div>
        </div>
    <% } %>
    <script>
        $(document).ready( function () {
            setTimeout(() => {
                $(".skeleton-image").each(function () {
                    $(this).attr("src", avatar($(this).attr("data"), "#fff", dark(), 'bold 100px Assistant'))
                    $(this).removeClass("skeleton-image")
                })
            }, 1000)
        })
    </script>
<% } else { %>
    <div style="animation-delay: .150s;" class="user_candidates col-span-3 animate__animated animate__fadeInUp ms-300 h-[78px] dark_border dark:bg-[#161b22] z-0 p-[8px] md:w-full cursor-pointer flex flex-row shadow-xl bg-gray-100 rounded-2xl transition-all">
        <div class="flex w-full justify-center items-center">
            <span class="dark:text-gray-300 text-lg">No deleted candidates yet</span>
        </div>
    </div>
<% } %>