<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" class="theme-color" content="#6b21a8">
    <title>Elections</title>
    <%- include('../cdn/_home') %>
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
</head>
<body class="bg-gray-300 dark:bg-[#090c10] transition-all antialiased">
    <div class="main" style="display: none;">
        <div class="w-full z-10 bg-gray-100 dark:bg-darkBlue-secondary shadow-lg grid grid-cols-2 fixed top-0 p-2 px-0 transition-all">
            <div class="flex justify-start items-center">
                <a href="/control" class="rpl ml-2 transition-all dark:text-gray-200 text-bluegray-600 text-2xl px-2 cursor-pointer mr-2">
                    <i class="fa fa-arrow-circle-left"></i>
                </a>
                <span class="font-semibold text-purple-800 dark:text-purple-500 text-xl xsm:text-base">Election Settings</span>
            </div>
            <div class="flex items-center justify-end">
                <a class="create_election_btn flex flex-row gap-2 items-center cursor-pointer rpl text-xl rounded-md p-2 px-3">
                    <span class="text-purple-700 dark:text-purple-500">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    <span class="sm:hidden text-[17px] dark:text-purple-500 text-purple-700 font-normal">Create Election</span>
                </a>
                <a class="open_settings rpl mr-3 px-3 py-2 cursor-pointer text-xl rounded-md dark:text-gray-200">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="settings bg-gray-900/60 transition-all fixed top-0 w-full h-full hidden justify-end items-center py-1">
                <div animate-out="animate__animated animate__fadeOutRight ms-500" animate-in="animate__animated animate__fadeInRight ms-500" class="settings_main w-96 sm:w-full rounded-bl-lg rounded-tl-lg bg-gray-100 dark:bg-darkBlue-secondary h-full dark_border">
                    <div class="p-4 flex justify-start items-center dark_border_b border-b-[.1px] border-gray-300">
                        <span class="font-semibold text-2xl text-purple-600">Settings</span>
                    </div>
                    <div class="grid grid-rows-2 h-[calc(100%-65px)]">
                        <div class="flex flex-col w-full px-3 py-2 gap-2">
                            <a data="course&year/" title="View, Add, & Update Courses" class="settings_btn rpl dark:text-gray-200 font-normal dark:hover:bg-[#253547] hover:rounded-md hover:bg-purple-200 grid grid-cols-2 rounded-sm w-full text-[16px] cursor-pointer appearance-none outline-none transition-all p-[8px] px-3 border-none text-gray-900 md:text-lg">
                                <span class="text-base">Courses & Year</span>
                                <i class="ic flex justify-end items-center w-full text-rose-700 dark:text-rose-600 text-xl">
                                    <i class="fal fa-list-alt"></i>
                                </i>
                            </a>
                            <a data="positions/" title="View, Add, & Update Positions" class="settings_btn rpl dark:text-gray-200 font-normal dark:hover:bg-[#253547] hover:rounded-md hover:bg-purple-200 grid grid-cols-2 rounded-sm w-full text-[16px] cursor-pointer appearance-none outline-none transition-all p-[8px] px-3 border-none text-gray-900 md:text-lg">
                                <span class="text-base">Positions </span>
                                <i class="ic flex justify-end items-center w-full text-green-700 dark:text-green-600 text-xl">
                                    <i class="fas fa-list-ol"></i>
                                </i>
                            </a>
                            <a data="voter-id/" title="View, Add, & Update Positions" class="settings_btn rpl dark:text-gray-200 font-normal dark:hover:bg-[#253547] hover:rounded-md hover:bg-purple-200 grid grid-cols-2 rounded-sm w-full text-[16px] cursor-pointer appearance-none outline-none transition-all p-[8px] px-3 border-none text-gray-900 md:text-lg">
                                <span class="text-base">Voter ID </span>
                                <i class="ic flex justify-end items-center w-full text-fuchsia-700 dark:text-fuchsia-600 text-xl">
                                    <i class="fas fa-id-card"></i>
                                </i>
                            </a>
                            <a data="partylist/" title="View, Add, & Update Partylist" class="settings_btn rpl dark:text-gray-200 font-normal dark:hover:bg-[#253547] hover:rounded-md hover:bg-purple-200 grid grid-cols-2 rounded-sm w-full text-[16px] cursor-pointer appearance-none outline-none transition-all p-[8px] px-3 border-none text-gray-900 md:text-lg">
                                <span class="text-base">Partylist </span>
                                <i class="ic flex justify-end items-center w-full text-amber-700 dark:text-amber-600 text-xl">
                                    <i class="fas fa-ballot"></i>
                                </i>
                            </a>
                        </div>
                        <div class="flex justify-center items-end p-2 px-4">
                            <a class="close_settings border w-full border-red-500 rpl cursor-pointer text-center rounded-md p-[7px] text-red-700 dark:text-red-500 font-medium">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-[4.5rem]">
            <div class="transition-all w-full grid grid-cols-2 xl:grid-cols-1 xl:px-52 lg:px-20 md:px-2 gap-4 place-items-center p-2">
                <% if(elections.length === 0) { %>
                   <div class="flex w-full justify-center items-center col-span-2">
                    <div style="animation-delay: .200s;" class="p-2 px-4 w-96 lg:w-full animate__animated animate__fadeInUp cursor-pointer shadow-xl bg-gray-100 dark:bg-[#161b22] rounded-xl transition-all">
                        <div class="flex flex-col gap-4 py-3">
                            <p class="font-semibold text-center py-3 text-xl">Nothing to fetch</p>
                            <button type="button" class="bg-teal-500 cursor-pointer rounded-md rpl outline-none text-white font-medium p-2 px-3">Create Election Now</button>
                        </div>
                    </div>
                   </div>
                <% } else { %>
                    <% elections.forEach((election, i) => { %>
                        <div data="<%- election._id %>" style="animation-delay: <%- i * .200 %>s;" class="animate__animated animate__fadeInUp card w-full cursor-pointer grid grid-cols-2 md:grid-cols-none shadow-xl bg-gray-100 dark:bg-[#161b22] rounded-2xl transition-all">
                            <div class="img flex w-full">
                                <img class="icon_e_name md:w-full md:rounded-bl-none md:rounded-tr-2xl md:h-[250px] w-[325px] h-full object-cover rounded-tl-2xl rounded-bl-2xl" alt="election_ic" src="/assets/image.jpg">
                            </div>
                            <div class="election_info p-8 flex flex-col w-full transition-all">
                                <div class="container">
                                    <p class="text-left text-lg font-medium text-purple-700 dark:text-purple-500 md:text-center"><%- election.election_title %></p>
                                </div>
                                <div class="container mt-4 transition-all">
                                    <div class="container mt-3 dark:text-gray-400">Voters <span class="dark:text-gray-300 float-right font-semibold"><%- election.voters.length %></span></div>
                                    <div class="container mt-3 dark:text-gray-400">Active Voters <span class="dark:text-gray-300 float-right font-semibold">...</span></div>
                                    <div class="container mt-3 dark:text-gray-400">Status <span class="dark:text-gray-300 float-right font-semibold"><%- election.status %></span>
                                    </div>
                                    <div class="container mt-3 dark:text-gray-400">Created <span class="dark:text-gray-300 float-right font-semibold time" data="<%- election.created %>">Calcuating...</span></div>
                                </div>
                                <div class="container mt-8 justify-center flex flex-row ">
                                    <a class="more_e_settings rpl rpl-h dark:bg-purple-900 dark:hover:bg-purple-800 dark:text-gray-300 transition-all w-full text-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-800 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-purple-500"
                                    href="elections/<%- election._id %>">More Details</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
    <div class="create_election z-20 dark:bg-darkBlue-primary/60 hidden justify-center items-center fixed top-0 w-full h-full">
        <div animate-out="animate__animated animate__fadeOutDown" animate-in="animate__animated animate__fadeInUp" class="create_election_main ms-500 p-2 w-[70%] h-[90%] lg:w-[85%] md:w-[95%] md:h-[max-content] dark:bg-darkBlue-secondary dark_border rounded-xl">
            <div class="flex flex-row w-full">
                <div class="w-[95%] flex flex-col">
                    <p class="font-medium transition-all relative dark:text-purple-500 text-3xl py-2 px-3 after:absolute after:bottom-0 after:left-3 after:bg-purple-700 after:w-6/12 after:h-[3px]">Create Election</p>
                </div>
                <div class="flex justify-end items-center">
                    <a class="close_e_create cursor-pointer dark:text-red-500 text-xl py-1 rounded-md rpl px-3">
                        <i class="fas fa-times-circle"></i>
                    </a>
                </div>
            </div>
            <div class="w-full h-[calc(100%-54px)] p-2 py-3">
                <div class="w-full h-full flex flex-row md:flex-col">
                    <div class="transition-all w-60 md:w-full md:grid md:grid-cols-4 md:dark:border-b-[.1px] md:dark:border-r-0 md:p-1 flex flex-col gap-1 p-2 dark:border-r-[.1px] dark:border-gray-600">
                        <a class="rpl cursor-pointer md:text-center py-2 px-3 dark:text-gray-300 dark:hover:bg-[#1d2936] transition-all rounded-md">
                            <span class="md:hidden">Information</span>
                            <i class="hidden md:block text-xl text-teal-500">
                                <i class="fas fa-info-circle"></i>
                            </i>
                        </a>
                        <a class="rpl cursor-pointer md:text-center py-2 px-3 dark:text-gray-300 dark:hover:bg-[#1d2936] transition-all rounded-md">
                            <span class="md:hidden">Courses</span>
                            <i class="hidden md:block text-xl text-purple-500">
                                <i class="fal fa-list-alt"></i>
                            </i>
                        </a>
                        <a class="rpl cursor-pointer md:text-center py-2 px-3 dark:text-gray-300 dark:hover:bg-[#1d2936] transition-all rounded-md">
                            <span class="md:hidden">Postions</span>
                            <i class="hidden md:block text-xl text-amber-500">
                                <i class="fas fa-list-ol"></i>
                            </i>
                        </a>
                        <a class="rpl cursor-pointer md:text-center py-2 px-3 dark:text-gray-300 dark:hover:bg-[#1d2936] transition-all rounded-md">
                            <span class="md:hidden">Finish</span>
                            <i class="hidden md:block text-xl text-lime-600">
                                <i class="fas fa-check-circle"></i>
                            </i>
                        </a>
                    </div>
                    <div class="w-[calc(100%-15rem)] md:h-full  md:w-full overflow-x-hidden overflow-y-auto">
                        <div class="e_info h-full pl-3 md:pl-0">
                            <div class="flex flex-col py-3 gap-5 h-full">
                                <div class="flex justify-start flex-col w-2/5 lg:w-10/12 md:w-full px-4">
                                    <label for="e_title" class="dark:text-gray-300 text-lg">Election Title</label>
                                    <input type="text" name="e_title" placeholder="SSG Election" autocomplete="off" class="text-input w-full p-[8px] border dark:text-gray-200 border-gray-300 dark_border dark:bg-transparent outline-none focus:ring-1 focus:ring-purple-400 dark:focus:ring-purple-500 dark:focus:border-purple-500 transition-all rounded-lg" required>
                                </div>
                                <div class="flex justify-start flex-col w-10/12 md:w-full px-4">
                                    <label for="e_title" class="dark:text-gray-300 text-lg">Description</label>
                                    <textarea rows="5" name="e_title" placeholder="Optional" autocomplete="off" class="text-input resize-none w-full p-[8px] border dark:text-gray-200 border-gray-300 dark_border dark:bg-transparent outline-none focus:ring-1 focus:ring-purple-400 dark:focus:ring-purple-500 dark:focus:border-purple-500 transition-all rounded-lg"></textarea>
                                </div>
                                <div class="grid grid-rows-2 gap-4 px-4 w-full">
                                    <div class="flex w-1/2 md:w-full flex-col">
                                        <label for="e_start" class="dark:text-gray-300 text-lg">Start Date & Time</label>
                                        <input placeholder="Date & Time" type="text" name="e_start" autocomplete="off" class="dt_picker text-input appearance-none w-full p-[8px] border dark:text-gray-200 border-gray-300 dark_border dark:bg-transparent outline-none focus:ring-1 focus:ring-purple-400 dark:focus:ring-purple-500 dark:focus:border-purple-500 transition-all rounded-lg" required>
                                    </div>
                                    <div class="flex w-1/2 md:w-full flex-col">
                                        <label for="e_end" class="dark:text-gray-300 text-lg">End Date & Time</label>
                                        <input placeholder="Date & Time" type="text" name="e_end" autocomplete="off" class="dt_picker text-input w-full p-[8px] border dark:text-gray-200 border-gray-300 dark_border dark:bg-transparent outline-none focus:ring-1 focus:ring-purple-400 dark:focus:ring-purple-500 dark:focus:border-purple-500 transition-all rounded-lg" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader"></div>
    <script src="/js/theme.js"></script>
    <script src="/js/time.js"></script>
    <script src="/js/avatar.js "></script>
    <script src="/js/toast.js"></script>
    <script src="/control/js/election.js "></script>
    <script>
        $.ripple(".rpl", {
            debug: false,
            on: 'mousedown',
            opacity: 0.3,
            color: "auto",
            multi: false,
            duration: 0.7,
            rate: function(pxPerSecond) {
                return pxPerSecond;
            },
            easing: 'linear'
        })
    </script>
</body>
</html>