<div class="settings_ fixed top-0 z-30 bg-darkBlue-primary/60 h-full w-full p-2 hidden justify-end items-center">
    <div animate-in="animate__animated animate__fadeInRight ms-300" animate-out="animate__animated animate__fadeOutRight ms-300" class="settings_main h-full w-96 sm:w-full bg-gray-100 dark:bg-darkBlue-secondary dark_border rounded-lg">
        <div class="w-full py-[10px] px-2 dark_border_b transform-all">
            <a class="close_settings rpl float-right rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-700">
                <i class="fad fa-times-circle"></i>
            </a>
            <a style="display:  none;" class="back_settings px-1 rounded-md rpl text-gray-700 dark:text-gray-50 text-xl cursor-pointer">
                <i class="fas fa-arrow-left"></i>
            </a>
            <span class="font-bold dark:text-purple-500 text-purple-700 text-2xl p-1 pl-2">Settings</span>
        </div>
        <div class="flex flex-col gap-1 h-[calc(100%-53px)] overflow-y-auto overflow-x-hidden py-3 px-2">
            <div class="card_settings">
                <div class="container">
                    <div class="animate__animated animate__fadeInUp ms-500 flex items-center px-1">
                        <span class="dark:text-gray-300 text-lg">Details</span>
                    </div>
                    <div class="flex flex-col gap-3 py-2">
                        <div data="election-settings-title" style="animation-delay: .250s;" class="election_settings_btn animate__animated animate__fadeInRight ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Title</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1" id="election_title"><%- election.election_title %></span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div style="animation-delay: .350s;" class="animate__animated animate__fadeInRight ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Description</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1"><%- election.election_description === "" ? 'No election description' : election.election_description %></span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div style="animation-delay: .450s;" class="animate__animated animate__fadeInRight ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Passcode</p>
                                <span class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1">**************</span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div style="animation-delay: .550s;" class="animate__animated animate__fadeInRight ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Link</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1 break-words"></p>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="flex items-center px-1">
                        <span style="animation-delay: .650s;" class="animate__animated animate__fadeInRight ms-500 dark:text-gray-300 text-lg">Status</span>
                    </div>
                    <div class="flex flex-col gap-3 py-2">
                        <div style="animation-delay: .750s;" class="animate__animated animate__fadeInRight ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Status</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1"><%- election.status %></span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div style="animation-delay: .850s;" class="animate__animated animate__fadeInRight ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Starting Date & Time</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1"><%- str.start %></span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div style="animation-delay: .950s;" class="animate__animated animate__fadeInRight ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Ending Date & Time</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1"><%- str.end %></span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div style="animation-delay: 1.45s;" class="animate__animated animate__fadeInRight ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Created</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1"><%- str.created %></span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_settings_form h-full">
            </div>
        </div>
    </div>
</div>
