<% 
    const data = {
        //course
        c: (val) => {
            for (let c = 0; c < course.length; c++) {
                if (val === course[c].id) {
                    return course[c].type
                }
            }
        }, 
        //year
        y: (val) => {
            for (let c = 0; c < year.length; c++) {
                if (val === year[c].id) {
                    return year[c].type
                }
            }
        }, 
        //partylists
        p: (val) => {
            for (let p = 0; p < partylists.length; p++) {
                if (val === partylists[p].id) {
                    return partylists[p].type
                }
            }
        }, 
        //positions
        pos: (val) => {
            for (let pos = 0; pos < positions.length; pos++) {
                if (val === positions[pos].id) {
                    return positions[pos].type
                }
            }
        }
    }
%>
<div class="candidates_ p-2 z-30 fixed top-0 bg-darkBlue-primary/60 w-full h-full hidden items-center justify-end">
    <div animate-in="animate__animated animate__fadeInRight ms-300" animate-out="animate__animated animate__fadeOutRight ms-300" class="candidates_main w-96 sm:w-full h-full bg-gray-100 dark:bg-darkBlue-secondary dark_border rounded-lg transition-all">
        <div class="w-full py-[10px] px-2 dark_border_b">
            <a class="close_candidates rpl float-right rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-700">
                <i class="fad fa-times-circle"></i>
            </a>
            <span class="font-bold dark:text-purple-500 text-purple-700 text-2xl p-1 pl-2">Candidates</span>
        </div>
        <div class="container mt-2 px-3 flex flex-col gap-1">
            <div class="grid grid-cols-3 w-full">
                <a class="rpl rounded-md justify-center px-3 py-2 flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-teal-600 text-teal-500">
                    <i class="fad fa-user-check"></i>
                    <span class="text-base dark:text-gray-300 text-bluegray-900 sm:hidden"></span>
                </a>
                <a class="relative rpl rounded-md justify-center px-3 py-2 flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-amber-600 text-amber-500">
                    <i class="fad fa-users"></i>
                    <span class="text-base dark:text-gray-300 text-bluegray-900 sm:hidden"></span>
                </a>
                <a class="relative rpl rounded-md justify-center px-3 py-2 flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-500">
                    <i class="fad fa-user-times"></i>
                    <span class="text-base dark:text-gray-300 text-bluegray-900 sm:hidden"></span>
                </a>
            </div>
            <div class="flex flex-row py-1">
                <select class="search-candidates-by w-28 focus:w-auto dark:bg-darkBlue-secondary outline-none appearance-none dark_border dark:bg-transparent py-2 px-3 dark:text-gray-300 rounded-lg rounded-r-none focus:border-purple-500 dark:focus:border-purple-700 transition-all">
                    <option value="">Search By</option>
                    <optgroup label="Positions">
                        <% for (let i = 0; i < e_position.length; i++) { %>
                            <option value="<%- e_position[i].id %>"><%- data.pos(e_position[i].id) %></option>
                        <% } %>
                    </optgroup>
                    <optgroup label="Partylists">
                        <% for (let i = 0; i < e_partylist.length; i++) { %>
                            <option value="<%- e_partylist[i] %>"><%- data.p(e_partylist[i]) %></option>
                        <% } %>
                    </optgroup> 
                    <optgroup label="Course">
                        <% for (let i = 0; i < e_courses.length; i++) { %>
                            <option value="<%- e_courses[i] %>"><%- data.c(e_courses[i]) %></option>
                        <% } %>
                    </optgroup>
                    <optgroup label="Year">
                        <% for (let i = 0; i < e_year.length; i++) { %>
                            <option value="<%- e_year[i] %>"><%- data.y(e_year[i]) %></option>
                        <% } %>
                    </optgroup>
                    <optgroup label="Status">
                        <option value="ac">Accepted Candidates</option>
                        <option value="pend">Pending Candidates</option>
                        <option value="rej">Rejected Candidates</option>
                    </optgroup>
                </select>
                <input type="search" placeholder="Search" class="search-candidates w-full outline-none dark_border dark:bg-transparent py-2 px-4 dark:text-gray-300 rounded-lg rounded-l-none focus:border-purple-500 dark:focus:border-purple-700 transition-all">
            </div>
        </div>
        <div class="flex flex-col h-[calc(100%-155px)]">
            <div class="flex flex-col gap-3 pt-2 pb-2 px-3 transition-all overflow-y-auto flex-[90%]">
                <% for (let i = 0; i < 20; i++) { %>
                    <div style="animation-delay: <%- i * .250 %>s;" class="acp_voters_skeleton animate__animated animate__fadeInUp ms-300 h-[78px] dark_border dark:bg-[#161b22] z-0 p-[8px] md:w-full cursor-pointer flex flex-row shadow-xl bg-gray-100 rounded-2xl transition-all">
                        <div class="flex flex-row w-full">
                            <div class="relative">
                                <div class="h-[60px] w-[60px] rounded-full object-cover skeleton-image"></div>
                                <div class="absolute h-[15px] w-[15px] rounded-full skeleton right-[1px] bottom-1"></div>
                            </div>
                            <div class="grid grid-flow-col flex-[80%]">
                                <div class="justify-center gap-1 w-full flex flex-col pl-3">
                                    <span class="text-base dark:text-gray-400 skeleton w-40"></span>
                                    <span class="text-sm dark:text-gray-400 skeleton w-32"></span>
                                </div>
                                <div class="w-full flex-row justify-end items-center flex">
                                    <a class="skeleton rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-lg dark:text-cyan-600"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="w-full p-1 flex justify-center items-center flex-[10%] pt-3 px-3 transition-all">
                <select class="search-candidates-by w-full dark:bg-darkBlue-secondary outline-none appearance-none dark_border dark:bg-transparent py-2 px-3 dark:text-gray-300 rounded-lg focus:border-purple-500 dark:focus:border-purple-700 transition-all">
                    <option selected value="">Sort by</option>
                    <optgroup label="Positions">
                        <% for (let i = 0; i < e_position.length; i++) { %>
                            <option value="<%- e_position[i].id %>"><%- data.pos(e_position[i].id) %></option>
                        <% } %>
                    </optgroup>
                    <optgroup label="Partylists">
                        <% for (let i = 0; i < e_partylist.length; i++) { %>
                            <option value="<%- e_partylist[i] %>"><%- data.p(e_partylist[i]) %></option>
                        <% } %>
                    </optgroup> 
                    <optgroup label="Course">
                        <% for (let i = 0; i < e_courses.length; i++) { %>
                            <option value="<%- e_courses[i] %>"><%- data.c(e_courses[i]) %></option>
                        <% } %>
                    </optgroup>
                    <optgroup label="Year">
                        <% for (let i = 0; i < e_year.length; i++) { %>
                            <option value="<%- e_year[i] %>"><%- data.y(e_year[i]) %></option>
                        <% } %>
                    </optgroup>
                    <optgroup label="Status">
                        <option value="ac">Accepted Candidates</option>
                        <option value="pend">Pending Candidates</option>
                        <option value="rej">Rejected Candidates</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
</div>