<div class="settings_ fixed top-0 z-30 bg-darkBlue-primary/60 h-full w-full p-2 <%- show ? 'flex' : 'flex' %> justify-end items-center">
    <div animate-in="animate__animated animate__fadeInRight ms-300" animate-out="animate__animated animate__fadeOutRight ms-300" class="settings_main h-full w-96 sm:w-full bg-gray-100 dark:bg-darkBlue-secondary dark_border rounded-lg">
        <div class="w-full py-[10px] px-2 dark_border_b transform-all">
            <a class="close_settings rpl float-right rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-700">
                <i class="fad fa-times-circle"></i>
            </a>
            <a style="<%- !show ? 'display: none' : '' %>;" class="back_settings px-1 rounded-md rpl text-gray-700 dark:text-gray-50 text-xl cursor-pointer">
                <i class="fas fa-arrow-left"></i>
            </a>
            <span class="font-bold dark:text-purple-500 text-purple-700 text-2xl p-1 pl-2">Settings</span>
        </div>
        <div class="flex flex-col gap-1 h-[calc(100%-53px)] overflow-y-auto overflow-x-hidden py-3 px-2">
            <div class="card_settings">
                <div class="container">
                    <div class="animate__animated animate__fadeInUp ms-500 flex items-center px-1">
                        <span class="dark:text-gray-300 text-lg">Details</span>
                    </div>
                    <div class="flex flex-col gap-3 py-2">
                        <div data="election-settings-title" style="animation-delay: .250s;" class="election_settings_btn animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Title</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1" id="election_title"><%- election.election_title %></span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div data="election-settings-description" style="animation-delay: .300s;" class="election_settings_btn animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Description</p>
                                <p class="dark:text-gray-400 max-h-52 overflow-y-auto text-bluegray-500 text-sm ml-1 mt-1" id="election_description"><%- election.election_description === "" ? 'No election description' : election.election_description %></p>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div data="election-settings-passcode" style="animation-delay: .350s;" class="election_settings_btn animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Passcode</p>
                                <span class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1">**************</span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div style="animation-delay: .400s;" class="animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Link</p>
                                <p class="dark:hover:text-purple-500 hover:text-purple-600  dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1 break-words">
                                    <a href="<%- link + election._id %>"><%- link + election._id %></a>
                                </p>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-link"></i>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="flex items-center px-1">
                        <span style="animation-delay: .500s;" class="animate__animated animate__fadeInUp ms-500 dark:text-gray-300 text-lg">Status</span>
                    </div>
                    <div class="flex flex-col gap-3 py-2">
                        <div data="election-settings-status" style="animation-delay: .550s;" class="election_settings_btn animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Status</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1">Election <%- election.status %></span>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div data="election-settings-start-dt" style="animation-delay: .600s;" class="election_settings_btn animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Starting Date & Time</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1" id="e_start_status"><%- str.start %></p>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div data="election-settings-end-dt" style="animation-delay: .650s;" class="election_settings_btn animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Ending Date & Time</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1" id="e_end_status"><%- str.end %></p>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div style="animation-delay: .700s;" class="animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-3">
                                <p class="dark:text-gray-300 text-bluegray-900">Created</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1"><%- str.created %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="flex items-center px-1">
                        <span style="animation-delay: .750s;" class="animate__animated animate__fadeInUp ms-500 dark:text-gray-300 text-lg">Tools</span>
                    </div>
                    <div class="flex flex-col gap-3 py-2">
                        <div data="election-settings-auto-accept-voters" style="animation-delay: .800s;" class="election_settings_btn animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Voters</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1" >Auto accept <%- !election.autoAccept_voters ? 'disabled' : 'enabled' %></p>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div data="election-settings-auto-accept-candidates" style="animation-delay: .850s;" class="election_settings_btn animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Candidates</p>
                                <p class="dark:text-gray-400 text-bluegray-500 text-sm ml-1 mt-1" >Auto accept <%- !election.autoAccept_candidates ? 'disabled' : 'enabled' %></p>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-purple-500 text-purple-600">
                                    <i class="fad fa-chevron-circle-right"></i>
                                </i>
                            </div>
                        </div>
                        <div data="" style="animation-delay: .900s;" class="animate__animated animate__fadeInUp ms-500 dark_border grid grid-cols-3 px-3 py-2 cursor-pointer rpl dark:bg-darkBlue-secondary rounded-lg shadow-lg">
                            <div class="flex flex-col col-span-2">
                                <p class="dark:text-gray-300 text-bluegray-900">Delete Election</p>
                            </div>
                            <div class="flex items-center flex-row justify-end">
                                <i class="settings_ic dark:text-rose-500 text-rose-600">
                                    <i class="fas fa-trash-alt"></i>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_settings_form h-full">
            </div>
        </div>
    </div>
</div>
