<% 
     const Data = {
        mycourse: (id) => {
            for(let i = 0; i < data.courses.length; i++){
                if(id === data.courses[i].id){
                   return data.courses[i].type
                }
            }
        }, 
        myyear: (id) => {
            for(let i = 0; i < data.year.length; i++){
                if(id === data.year[i].id){
                    return data.year[i].type
                }
            }
        },
        myposition: (id) => {
            for(let p = 0; p < data.positions.length; p++){
                if(data.positions[p].id === id) {
                    return data.positions[p].type
                }
            }
        }, 
        mypartylist: (id) => {
            for(let pty = 0; pty < data.partylists.length; pty++){
                if(data.partylists[pty].id === id) {
                    return data.partylists[pty].type
                }
            }
        }
    }
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%- csrf %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- election.election_title %> Voters</title>
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
    <%- include('../cdn/_home') %>
    <script>
        document.onreadystatechange = () => {
            setTimeout( () => {
                $(".loading").remove()
                $(".main, .nav").show()
            }, 500)
        }
    </script>
</head>
<body class="bg-gray-300 dark:bg-[#090c10] transition-all antialiased">
    <!-- Lazy progress bar -->
    <%- include('../../lazy/loading-progress') %>
    <div class="loading flex justify-center w-screen h-screen items-center">
        <%- include('../../lazy/loading') %>
    </div>
    <!-- nav -->
    <div style="display: none; animation-delay: .250s;" class="nav animate__animated animate__fadeInDown ms-500 dark:bg-[#161b22] bg-gray-100 shadow-md sticky flex w-full transition-all top-0 z-10">
        <div class="w-full py-2">
            <div class="float-left">
                <div class="flex flex-row justify-center items-center px-3">
                    <a href="<%- link %>"
                        class="rpl rounded-lg transition-all p-[8px] text-gray-900 dark:text-gray-200 text-xl cursor-pointer mr-1 last:mr-0">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <p class="text-lg font-medium cursor-pointer dark:text-gray-200" id="election_title">Voters</p>
                </div>
            </div>
            <div class="float-right flex justify-center items-center h-full">
                <a class="add_voter_open flex dark:text-purple-700 dark:text-purple-500flex-row gap-2 items-center cursor-pointer rpl text-xl rounded-md p-2 px-3">
                    <i class="fas fa-plus-circle"></i>
                    <span class="sm:hidden text-[17px] font-normal">Add Voter</span>
                </a>
                <a href="print/" target="_blank" class="flex dark:text-teal-700 dark:text-purple-500flex-row gap-2 items-center cursor-pointer rpl text-xl rounded-md p-2 px-3">
                    <i class="fad fa-download"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- main -->
    <div style="display: none;" class="main container">
        <div class="grid grid-cols-2 gap-1">
            <div class="flex justify-start items-center py-1.5 px-2">
                <input placeholder="Search Voters" type="search" class="search_voters dark:bg-darkBlue-primary dark_border dark:text-gray-200 w-auto sm:w-full px-3 py-1.5 outline-none dark:focus:border-purple-700 transition-all rounded-lg">
            </div>
            <div class="flex justify-end items-center py-1.5 px-2">
                <select class="sort_voters dark:bg-darkBlue-primary dark_border dark:text-gray-200 w-auto sm:w-full px-3 py-1.5 outline-none dark:focus:border-purple-700 transition-all rounded-lg">
                    <option value="" selected disabled> - Sort Voters</option>
                    <option value='<%- JSON.stringify({type: 'status', value: 'default'}) %>'>Default</option>
                    <optgroup label="Status">
                        <option value='<%- JSON.stringify({type: 'status', value: 'Accepted'}) %>'>Accepted Voters</option>
                        <option value='<%- JSON.stringify({type: 'status', value: 'Pending'}) %>'>Pending Voters</option>
                    </optgroup>
                    <optgroup label="Course">
                        <% for (let i = 0; i < election.courses.length; i++) { %>
                            <option value='<%- JSON.stringify({type: 'course', value: `${election.courses[i]}`}) %>'><%- Data.mycourse(election.courses[i]) %></option>
                        <% } %>
                    </optgroup>
                    <optgroup label="Year">
                        <% for (let i = 0; i < election.year.length; i++) { %>
                            <option value='<%- JSON.stringify({type: 'year', value: `${election.year[i]}`}) %>'><%- Data.myyear(election.year[i]) %></option>
                        <% } %>
                    </optgroup>
                </select>
            </div>
        </div>
        <div style="animation-delay: .250s;" class="election_voters_list animate__animated animate__fadeIn ms-500 grid grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-2.5 px-2 py-2.5">
            <% for (let i = 0; i < 20; i++) { %>
                <div style="animation-delay: <%- i * .250%>s;" class="election_voter_skeleton animate__animated animate__fadeInUp ms-500 shadow-md rounded-md dark:bg-darkBlue-secondary">
                    <div class="relative w-full">
                        <div class="w-full h-44 sm:h-52 rounded-t-md shadow-md skeleton-image"></div>
                        <div class="absolute -bottom-14 w-full flex justify-center items-center">
                            <div class="w-32 h-32 object-cover rounded-full shadow-md skeleton-image"></div>
                        </div>
                    </div>
                    <div class="container mt-14 py-2">
                        <div class="flex flex-col justify-center items-center gap-2">
                            <span class="dark:text-gray-300 text-base skeleton w-32"></span>
                            <span class="dark:text-gray-400 text-sm skeleton w-10"></span>
                        </div>
                        <div class="flex gap-2 mt-1.5 px-2">
                            <span class="skeleton w-full rounded-md py-1 px-3 text-sm font-normal"></span>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <!-- add voter -->
    <div class="user_add fixed top-0 w-full h-full z-40 bg-darkBlue-primary/50 hidden justify-center items-center sm:items-end transition-all">
        <div animate-in="animate__animated animate__fadeInUp ms-500" animate-out="animate__animated animate__fadeOutDown ms-500" class="user_add_main dark_border w-9/12 lg:w-[95%] sm:w-full h-5/6  dark:bg-darkBlue-secondary rounded-md sm:rounded-b-none shadow-md transition-all">
            <div class="container grid grid-cols-2 py-1 px-2.5 dark_border_b">
                <div class="flex justify-start items-center">
                    <span class="dark:text-purple-700 text-lg">Add New Voter</span>
                </div>
                <div class="flex justify-end items-center">
                    <a class="cls_user_add rpl py-1 px-1.5 rounded-full float-right text-red-600 mr-1 mt-1 dark:text-rose-600 text-2xl cursor-pointer">
                        <i class="fad fa-times-circle"></i>
                    </a>
                </div>
            </div>
            <div class="flex flex-col h-[calc(100%-53px)]">
                <div class="container flex justify-start items-center py-2.5 px-1.5">
                    <input placeholder="Search Users" type="search" class="search_user_for_ca dark:bg-darkBlue-secondary dark_border dark:text-gray-200 w-auto sm:w-full px-3 py-1.5 outline-none dark:focus:border-purple-700 transition-all rounded-lg">
                </div>
                <div class="users_list grid grid-cols-3 xl:grid-cols-2 sm:grid-cols-1 gap-2.5 px-2 py-2.5 overflow-y-auto">
                    <% for (let i = 0; i < 20; i++) { %>
                        <div  style="animation-delay: <%- i * .150 %>s;" class="users_skeleton rpl animate__animated animate__fadeInUp ms-300 dark:hover:border-purple-700/50 hover:border-purple-600/50 min-h-[78px] dark:bg-darkBlue-100 z-0 p-2 md:w-full cursor-pointer flex flex-col shadow-md bg-gray-100 rounded-lg transition-all">
                            <div class="flex flex-row w-full">
                                <div class="h-[60px] w-[64px] rounded-full object-cover skeleton-image"></div>
                                <div class="grid grid-flow-col flex-[80%]">
                                    <div class="justify-center w-full gap-2 flex flex-col pl-3">
                                        <span class="text-base dark:text-gray-300 skeleton"></span>
                                        <span class="text-sm dark:text-gray-400 skeleton w-40"></span>
                                    </div>
                                </div> 
                                <div class="flex justify-center items-center px-2">
                                    <span class="p-2 rounded-full skeleton"></span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div> 
    <script src="/js/fetch.js "></script>
    <script src="/js/time.js "></script>
    <script src="/js/toast.js "></script>
    <script src="/js/audio_file.js "></script>
    <script src="/js/audio.js "></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/control/js/io.js "></script>
    <script src="/control/js/voters.js "></script>
    <script src="/js/theme.js "></script>
    <script>
        $.ripple(".rpl", {
            debug: false,
            on: 'mousedown',
            opacity: 0.3,
            color: "auto",
            multi: false,
            duration: 0.7,
            rate: function(pxPerSecond) {
                return pxPerSecond;
            },
            easing: 'linear'
        })
    </script>
</body>
</html>