<% 
    const candidatesData = {
        course: (id) => {
            for(let i = 0; i < data.course.length; i++){
                if(id === data.course[i].id){
                   return data.course[i].type
                }
            }
        }, 
        year: (id) => {
            for(let i = 0; i < data.year.length; i++){
                if(id === data.year[i].id){
                    return data.year[i].type
                }
            }
        },
        positions: (id) => {
            for(let i = 0; i < data.positions.length; i++){
                if(id === data.positions[i].id){
                    return data.positions[i].type
                }
            }
        }, 
        partylists: (id) => {
            for(let i = 0; i < data.partylists.length; i++){
                if(id === data.partylists[i].id){
                    return data.partylists[i].type
                }
            }
        }
    }
%>
<div class="ca_info_ fixed hidden w-full h-full top-0 z-30 p-1 bg-darkBlue-primary/50 justify-center items-center">
    <div animate-in="animate__animated animate__bounceIn ms-500" animate-out="animate__animated animate__bounceOut ms-500" class="ca_info_main w-3/5 h-5/6 lg:w-[90%] sm:w-full sm:h-full dark_border rounded-lg dark:bg-darkBlue-secondary">
        <div class="w-full p-2 dark_border_b">
            <a class="close_candidacy_info rpl float-right rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-700">
                <i class="fad fa-times-circle"></i>
            </a>
            <span class="font-bold dark:text-purple-500 text-purple-700 text-2xl sm:text-xl p-1 pl-2">Candidacy Information</span>
        </div>
        <div class="flex flex-col gap-3 px-3 py-2 h-[calc(100%-50px)] overflow-x-hidden overflow-y-auto">
            <div class="transition-all grid grid-cols-2 gap-3 md:grid-cols-none">
                <div style="animation-delay: .150s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Candidacy ID</span>
                    </div>
                    <div class="w-full break-words text-bluegray-900 dark:text-gray-400 mt-2">
                        <%- candidate.id %>
                    </div>
                </div>
                <div style="animation-delay: .200s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Student ID</span>
                    </div>
                    <div class="w-full break-words text-bluegray-900 dark:text-gray-400 mt-2">
                        <%- candidate.student_id %>
                    </div>
                </div>
            </div>
            <div class="transition-all grid grid-cols-2 gap-3 md:grid-cols-none">
                <div style="animation-delay: .250s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Fullname</span>
                    </div>
                    <div class="w-full break-words text-bluegray-900 dark:text-gray-400 mt-2">
                        <%- candidate.fullname %>
                    </div>
                </div>
            </div>
            <div class="transition-all grid grid-cols-3 gap-3 md:grid-cols-none">
                <div style="animation-delay: .300s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Course & Year</span>
                    </div>
                    <div class="w-full break-words text-bluegray-900 dark:text-gray-400 mt-2">
                        <%- `${candidatesData.course(candidate.course)} ${candidatesData.year(candidate.year)} ` %>
                    </div>
                </div>
                <div style="animation-delay: .350s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Partylist</span>
                    </div>
                    <div class="w-full break-words text-bluegray-900 dark:text-gray-400 mt-2">
                        <%- candidatesData.partylists(candidate.partylist) %>
                    </div>
                </div>
                <div style="animation-delay: .400s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Position</span>
                    </div>
                    <div class="w-full break-words text-bluegray-900 dark:text-gray-400 mt-2">
                        <%- candidatesData.positions(candidate.position) %>
                    </div>
                </div>
            </div>
            <div class="transition-all flex w-full">
                <div style="animation-delay: .450s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2 w-full">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Platform</span>
                    </div>
                    <div class="w-full break-words text-bluegray-900 dark:text-gray-400 mt-2">
                        <%- candidate.platform %>
                    </div>
                </div>
            </div>
            <div class="transition-all grid grid-cols-3 gap-3 md:grid-cols-none">
                <div style="animation-delay: .500s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2 w-full">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Candidacy Status</span>
                    </div>
                    <div class="w-full  text-bluegray-900 dark:text-gray-400 mt-2">
                        <% if(candidate.status === 'Pending') { %>
                            <span class="dark:bg-yellow-600/50 bg-yellow-700 text-gray-100 dark:text-gray-300 py-1 text-sm px-3 rounded-lg animate-pulse"><%- candidate.status %></span>
                        <% } else if(candidate.status === 'Accepted') { %>
                            <span class="dark:bg-teal-600/50 bg-teal-700 text-gray-100 dark:text-gray-300 py-1 text-sm px-5 rounded-lg "><%- candidate.status %></span>
                        <% } else { %>
                            <span class="dark:bg-rose-600/50 bg-rose-700 text-gray-100 dark:text-gray-300 py-1 text-sm px-5 rounded-lg "><%- candidate.status %></span>
                        <% } %>
                    </div>
                </div>
                <div style="animation-delay: .550s;" class="animate__animated animate__fadeInUp ms-500 dark_border rounded-lg cursor-pointer p-2 w-full">
                    <div class="flex items-center">
                        <span class="dark:text-purple-100">Requested time</span>
                    </div>
                    <div class="w-full text-bluegray-900 dark:text-gray-400 mt-2 time skeleton" data="<%- candidate.created %>"></div>
                </div>
            </div>
            <div class="transition-all flex justify-end items-center mt-3 sm:w-full">
                <div style="animation-delay: .600s;" class="animate__animated animate__fadeInUp ms-500 grid grid-cols-2 gap-3 sm:w-full">
                    <% if(candidate.status === 'Pending') { %>
                        <a data="<%- candidate.id %>" class="deny_candidacy cursor-pointer transition-all px-3 py-1.5 dark:bg-rose-700 dark:text-gray-300 border-none focus:outline-none rounded-lg dark:focus:ring-2 dark:focus:ring-offset-2 dark:focus:ring-rose-700 dark:focus:ring-offset-darkBlue-secondary flex flex-row gap-2 sm:justify-center items-center">
                            <i class="fad fa-times-circle"></i>
                            Delete
                        </a>
                        <a data="<%- candidate.id %>" class="accept_candidacy cursor-pointer transition-all px-3 py-1.5 dark:bg-teal-700 dark:text-gray-300 border-none focus:outline-none rounded-lg dark:focus:ring-2 dark:focus:ring-offset-2 dark:focus:ring-teal-700 dark:focus:ring-offset-darkBlue-secondary flex flex-row gap-2 sm:justify-center items-center">
                            <i class="fad fa-check-circle"></i>
                            Accept
                        </a> 
                    <% } %> 
                    <% if(candidate.status === 'Deleted') { %>
                        <a data="<%- candidate.id %>" class="delete_permanent_candidacy col-span-2 cursor-pointer transition-all px-3 py-1.5 dark:bg-rose-700 dark:text-gray-300 border-none focus:outline-none rounded-lg dark:focus:ring-2 dark:focus:ring-offset-2 dark:focus:ring-rose-700 dark:focus:ring-offset-darkBlue-secondary flex flex-row gap-2 sm:justify-center items-center">
                            <i class="fad fa-times-circle"></i>
                            Delete Permanently
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>