<% 
    const Data = {
        course: (id) => {
            for(let c = 0; c < data.courses.length; c++){
                if(data.courses[c].id === id) {
                    return data.courses[c].type
                }
            }
        }, 
        year: (id) => {
            for(let y = 0; y < data.year.length; y++){
                if(data.year[y].id === id) {
                    return data.year[y].type
                }
            }
        }, 
        position: (id) => {
            for(let pos = 0; pos < data.positions.length; pos++){
                if(data.positions[pos].id === id) {
                    return data.positions[pos].type
                }
            }
        }, 
        partylist: (id) => {
            for(let pty = 0; pty < data.partylists.length; pty++){
                if(data.partylists[pty].id === id) {
                    return data.partylists[pty].type
                }
            }
        }
    }
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidates</title>
    <link rel="stylesheet" href="/css/tailwindcss/style.css"> 
    <%- include('../cdn/_list_users') %>
</head>
<body>
    <div id="candidates" class="py-3 px-10 w-full">
        <div class="grid grid-cols-4">
            <div class="flex justify-center items-center px-2 py-7">
                <img src="/assets/logo.png">
            </div>
            <div class="col-span-2 flex flex-col gap-1 justify-center items-center">
                <span class="font-semibold">Republic of the Philippines</span>
                <span class="tracking-wide">Western Mindanao State University</span>
                <span>Aurora External Studies Unit</span>
                <span>Aurora, Zamboanga Del Sur</span>
            </div>
            <div class="flex justify-center items-center px-2 py-7">
                <img src="/assets/logo.png">
            </div>
        </div>
        <table class="w-full">
            <thead>
                <th class="border-teal-600 border-[1px] p-2 text-bluegray-900 text-left">Student ID</th>
                <th class="border-teal-600 border-[1px] p-2 text-bluegray-900 text-left">Name</th>
                <th class="border-teal-600 border-[1px] p-2 text-bluegray-900 text-left">Platform</th>
                <th class="border-teal-600 border-[1px] p-2 text-bluegray-900 text-left">Course & Year</th>
                <th class="border-teal-600 border-[1px] p-2 text-bluegray-900 text-left">Position</th>
                <th class="border-teal-600 border-[1px] p-2 text-bluegray-900 text-left">Partylist</th>
            </thead>
            <tbody>
                <% for(let i = 0; i < candidates.length; i++) { %> 
                    <tr>
                        <td class="text-sm border-teal-600 border-[1px] p-2 text-bluegray-900"><%- candidates[i].student_id %></td>
                        <td class="text-sm border-teal-600 border-[1px] p-2 text-bluegray-900"><%- candidates[i].fullname %></td>
                        <td class="text-sm border-teal-600 border-[1px] p-2 text-bluegray-900"><%- candidates[i].platform %></td>
                        <td class="text-sm border-teal-600 border-[1px] p-2 text-bluegray-900"><%- `${Data.course(candidates[i].course)} ${Data.year(candidates[i].year)}` %></td>
                        <td class="text-sm border-teal-600 border-[1px] p-2 text-bluegray-900"><%- Data.position(candidates[i].position) %></td>
                        <td class="text-sm border-teal-600 border-[1px] p-2 text-bluegray-900"><%- Data.partylist(candidates[i].partylist) %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <script src="/js/theme.js"></script>
    <script>
        $(document).ready( async () => {
            Swal.fire({
                icon: 'info', 
                title: 'Download all Candidates', 
                html: 'This will generate a pdf file that contains all the candidates in current election', 
                confirmButtonText: 'Download', 
                showDenyButton: true,
                denyButtonText: 'Cancel', 
                backdrop: true, 
                allowOutsideClick: false
            }).then( (a) => {
                if(a.isConfirmed){
                    Swal.fire({
                        icon: 'info', 
                        title: 'Generating pdf file', 
                        html: 'Please wait..',
                        showConfirmButton: false,
                        backdrop: true, 
                        allowOutsideClick: false, 
                        willOpen: async () => {
                            Swal.showLoading()
                            var element = document.getElementById('candidates')
                            var opt = {
                                margin:       0.01,
                                filename:     'candidates.pdf',
                                image:        { type: 'jpeg', quality: 1 },
                                html2canvas:  { scale: 2 },
                                jsPDF:        { unit: 'mm', format: 'letter', orientation: 'l' }
                            }
                            await html2pdf().set(opt).from(element).save()
                            setTimeout(() => {
                                Swal.fire({
                                    icon: 'success', 
                                    title: 'PDF Successfully generated', 
                                    html: 'You can now close this tab',
                                    confirmButtonText: 'Close this tab', 
                                    showDenyButton: true,
                                    denyButtonText: 'Cancel', 
                                    backdrop: true, 
                                    allowOutsideClick: false,
                                }).then( (a) => {
                                    if(a.isConfirmed){
                                        window.close()
                                    }
                                })
                            }, 500)
                        }
                    })
                    
                }
            })
        })
    </script>
</body>
</html>