<% if(voters.length !== 0) { 
    for (let i = 0; i < voters.length; i++) { %>
        <div data="<%- voters[i].id %>" style="animation-delay: <%- i * .150 %>s;" class="voters animate__animated animate__fadeInUp ms-300 h-auto dark_border dark:bg-[#161b22] z-0 p-[8px] md:w-full cursor-pointer flex flex-row shadow-xl bg-gray-100 rounded-2xl transition-all">
            <div class="flex flex-row w-full">
                <img class="h-[60px] w-[60px] rounded-full object-cover skeleton-image" src="/profile/<%- voters[i] %>">
                <div class="grid grid-flow-col flex-[80%]">
                    <div class="justify-center gap-1 w-full flex flex-col pl-3">
                        <span class="text-base dark:text-gray-400"><%- voters[i].fullname %></span>
                        <span class="text-sm dark:text-gray-400"><%- `${voters[i].course} ${voters[i].year}` %></span>
                    </div>  
                    <div class="w-full flex-row justify-end items-center flex">
                        <a data="<%- voters[i].id %>" class="deny_voter rpl rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-lg text-rose-700 dark:text-rose-600">
                            <i class="fad fa-times-circle"></i>
                        </a>
                        <a data="<%- voters[i].id %>" class="accept_voter rpl rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-lg text-green-700 dark:text-green-600">
                            <i class="fad fa-check-circle"></i>
                        </a>
                    </div>
                </div> 
            </div>
        </div>
    <% } %>
    <script>
        $(document).ready( function () {
            setTimeout(() => {
                $(".skeleton-image").each(function () {
                    $(this).removeClass("skeleton-image")
                })
            }, 1000)
        })
    </script>
<% } else { %>
    <div class="voters flex justify-center items-center">
        <div style="animation-delay: .150s;" class="animate__animated animate__fadeInUp ms-300 h-[78px] dark_border dark:bg-[#161b22] z-0 p-[8px] w-full md:w-full cursor-pointer flex justify-center items-center shadow-xl bg-gray-100 rounded-2xl transition-all">
            <span class="dark:text-gray-300 text-lg">No pending voters</span>
        </div>
    </div>
<% } %>