<!DOCTYPE html>
<html lang="en" class="font-sans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" class="theme-color" content="#991b1b">
    <title>Election Positions</title>
    <%- include('../cdn/_home') %>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
</head>
<body class="bg-gray-300 dark:bg-[#090c10] transition-all antialiased">
    <div class="container flex flex-col gap-2">
        <div class="w-full bg-gray-100 shadow-lg grid grid-cols-2 p-2 px-3 transition-all">
            <div class="flex justify-start items-center">
                <span class="font-bold text-purple-800 text-2xl">Positions</span>
            </div>
            <div class="flex items-center justify-end">
                <a class="add_pos_btn flex flex-row gap-2 items-center cursor-pointer rpl text-xl rounded-md p-2 px-3">
                    <span class="text-purple-700">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    <span class="sm:hidden text-[17px] text-purple-700 font-normal">Add Position</span>
                </a>
            </div>
        </div>
        <div class="positions_all py-3 px-2 grid grid-cols-5 xl:grid-cols-4 transition-all lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 w-full h-full overflow-y-scroll gap-2">
           <% if (pos.length === 0) { %>
                <div class="p-3 col-span-5 justify-center flex bg-gray-100 rounded-xl cursor-pointer">
                    <span class="text-purple-700">No Positions to fetch</span>
                </div>
           <% } else { %>
                <% for( let i = 0; i < pos[0].positions.length; i++ ) { %>
                    <div style="animation-delay: <%- 0 + '.' + i + 10 %>s;" class="animate__animated animate__fadeInUp p-3 grid grid-cols-2 bg-gray-100 rounded-xl cursor-pointer">
                        <div>
                            <span class="text-purple-700 text-lg font-normal"><%- pos[0].positions[i].type %></span>
                        </div>
                        <div class="flex justify-end items-center gap-3 pr-2">
                            <a data="<%- pos[0].positions[i].id %>" class="cursor-pointer text-green-600">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data="<%- pos[0].positions[i].id %>" class="cursor-pointer text-rose-600">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                <% } %>
           <% } %>
        </div>
    </div>
    <div class="add_position p-2 fixed bg-gray-900/30 w-full h-full hidden top-0 justify-end items-center">
        <div class="add_position_main h-full w-96 xsm:w-full p-2 bg-gray-100 rounded-xl transition-all" animate-in="animate__animated animate__fadeInRight ms-400" animate-out="animate__animated animate__fadeOutRight ms-400">
            <div class="flex flex-row justify-center items-center p-2 border-b border-gray-300">
                <span class="font-bold text-xl text-purple-600 ">Add Position</span>
            </div>
            <div class="p-2 h-[calc(100%-45px)] bg-rose grid grid-rows-2">
                <form class="position_form h-full flex flex-col p-2 items-center justify-start pt-10">
                    <input type="text" name="position" placeholder="Position" autocomplete="off" class="text-input w-full p-[10px] border border-gray-300 outline-none focus:ring-2 focus:ring-purple-400 transition-all rounded-lg" required>
                    <button type="submit" class="disabled:bg-purple-500 hover:bg-purple-600 dark:bg-purple-700 bg-purple-700 text-white transition-all font-normal py-3 px-4 rounded-md focus:ring focus:ring-offset-2 focus:ring-purple-500 focus:outline-none focus:shadow-outline mt-4 w-full">Add</button>
                </form>
                <div class="flex w-full justify-center items-end p-2">
                    <a class="close_add_pos w-full transition-all rpl rounded-lg cursor-pointer text-center border-[.5px] border-rose-600 py-2 font-semibold text-red-600">Close</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/theme.js"></script>
    <script src="/js/time.js"></script>
    <script src="/js/avatar.js "></script>
    <script src="/js/toast.js"></script>
    <script src="/control/js/positions.js "></script>
    <script>
        $.ripple(".rpl", {
            debug: false,
            on: 'mousedown',
            opacity: 0.3,
            color: "auto",
            multi: false,
            duration: 0.7,
            rate: function(pxPerSecond) {
                return pxPerSecond;
            },
            easing: 'linear'
        })
    </script>
</body>
</html>