<% if (pos.length === 0) { %>
    <div class="empty_pos animate__animated animate__fadeInUp p-3 col-span-5 justify-center flex bg-gray-100 dark:bg-darkBlue-secondary rounded-xl cursor-pointer">
        <span class="text-purple-700 dark:text-gray-300">No Positions to fetch</span>
    </div>
<% } else { %>
    <% for( let i = 0; i < pos.length; i++ ) { %>
        <div data="<%- pos[i].id %>" style="animation-delay: <%- i * .150 %>s;" class="pos dark:bg-darkBlue-secondary sm:last:mb-4 group animate__animated animate__fadeInUp p-3 grid grid-cols-2 bg-gray-100 rounded-xl cursor-pointer">
            <div>
                <span class="text-bluegray-900 dark:text-gray-300 text-base font-normal break-all"><%- pos[i].type %></span>
            </div>
            <div class="hidden group-hover:flex animate__animated animate__fadeInLeft ms-200 transition-all justify-end items-center gap-1">
                <a data="<%- pos[i].id %>" class="rpl up_pos px-2 cursor-pointer text-green-600">
                    <i class="fas fa-edit"></i>
                </a>
                <a data="<%- pos[i].id %>" class="rpl del_pos px-2 cursor-pointer text-rose-600">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    <% } %>
<% } %>