<% 
    const Data = {
        selected_courses: (id) => {
            let res = false
            for(let c = 0; c < data.courses.length; c++) {
                if(data.courses[c].id === id) {
                    res = true
                    break
                }
            }
            return res
        }, 
        course: (id) => {
            for(let c = 0; c < data.courses.length; c++) {
                if(data.courses[c].id === id) {
                    return data.courses[c].type
                }
            }
        }, 
        selected_year: (id) => {
            let res = false
            for(let y = 0; y < data.year.length; y++) {
                if(data.year[y].id === id) {
                    res = true
                    break
                }
            }
            return res
        }, 
        year: (id) => {
            for(let y = 0; y < data.year.length; y++) {
                if(data.year[y].id === id) {
                    return data.year[y].type
                }
            }
        }
    }
%>
<div class="flex flex-col gap-2 p-2 sm:px-0">
    <div style="animation-delay: .150s;" class="animate__animated animate__fadeInUp ms-500 flex items-center justify-start px-2.5">
        <span class="dark:text-gray-300 text-base">Update User Information</span>
    </div>
    <div class="grid grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-2 px-2.5 py-3 pt-0">
        <div style="animation-delay: .250s;" class="animate__animated animate__fadeInUp ms-500 h-[fit-content] cursor-pointer shadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Name</span>
            <form class="fullname_update grid grid-cols-2 gap-1">
                <input type="hidden" name="id" value="<%- userData._id %>">
                <input value="<%- userData.firstname %>" autocapitalize="words" name="fname" placeholder="Firstname" required class="mt-1 dark:bg-darkBlue-100 dark_border dark:text-gray-200 text-input w-full px-2.5 py-2 outline-none dark:focus:border-purple-700 transition-all rounded-lg">
                <input value="<%- userData.middlename %>" autocapitalize="words" name="mname" placeholder="Middlename" required class="mt-1 dark:bg-darkBlue-100 dark_border dark:text-gray-200 text-input w-full px-2.5 py-2 outline-none dark:focus:border-purple-700 transition-all rounded-lg">
                <input value="<%- userData.lastname %>" autocapitalize="words" name="lname" placeholder="Lastname" required class="col-span-full mt-1 dark:bg-darkBlue-100 dark_border dark:text-gray-200 text-input w-full px-2.5 py-2 outline-none dark:focus:border-purple-700 transition-all rounded-lg"> 
                <button class="rpl col-span-full mt-1.5  transition-all w-full text-center px-4 py-1.5 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-100 bg-teal-700 dark:bg-teal-800 hover:bg-teal-700 dark:hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-1 dark:focus:ring-offset-darkBlue-secondary dark:focus:ring-teal-800 focus:ring-teal-500"
                    type="submit">Update name</button>
            </form>
        </div>
        <div style="animation-delay: .500s;" class="animate__animated animate__fadeInUp ms-500 h-[fit-content] cursor-pointer shadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">User type</span>
            <form class="user_type_update flex flex-col gap-1">
                <input type="hidden" name="id" value="<%- userData._id %>">
                <select name="type" required class="mt-1 dark:bg-darkBlue-100 dark_border dark:text-gray-200 text-input w-full px-2.5 py-2 outline-none dark:focus:border-purple-700 transition-all rounded-lg">
                    <% if(userData.type === "Candidate") { %> 
                        <option selected value="">Candidate</option>
                        <option value="Voter">Voter</option>
                    <% } else { %>
                        <option value="Candidate">Candidate</option>
                        <option selected value="">Voter</option>
                    <% } %>
                </select>
                <button class="rpl col-span-full mt-1.5 transition-all w-full text-center px-4 py-1.5 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-100 bg-teal-700 dark:bg-teal-800 hover:bg-teal-700 dark:hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-1 dark:focus:ring-offset-darkBlue-secondary dark:focus:ring-teal-800 focus:ring-teal-500"
                        type="submit">Update type</button>
            </form>
        </div>
        <div style="animation-delay: .750s;" class="animate__animated animate__fadeInUp ms-500 h-[fit-content] cursor-pointer shadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Course & Year</span>
            <form class="cy_update grid grid-cols-2 gap-1">
                <input type="hidden" name="id" value="<%- userData._id %>">
                <select name="course" required class="mt-1 dark:bg-darkBlue-100 dark_border dark:text-gray-200 text-input w-full px-2.5 py-2 outline-none dark:focus:border-purple-700 transition-all rounded-lg">
                    <% for(let i = 0; i < data.courses.length; i++) { %>
                        <% if(data.courses[i].id === userData.course) { %> 
                            <option selected value="<%- userData.course %>"><%- Data.course(userData.course) %></option>
                        <% } else { %>
                            <option value="<%- data.courses[i].id %>"><%- data.courses[i].type %></option>
                        <% } %>
                    <% } %>
                </select>
                <select name="year" required class="mt-1 dark:bg-darkBlue-100 dark_border dark:text-gray-200 text-input w-full px-2.5 py-2 outline-none dark:focus:border-purple-700 transition-all rounded-lg">
                    <% for(let i = 0; i < data.year.length; i++) { %>
                        <% if(data.year[i].id === userData.year) { %> 
                            <option selected value="<%- userData.year %>"><%- Data.year(userData.year) %></option>
                        <% } else { %>
                            <option value="<%- data.year[i].id %>"><%- data.year[i].type %></option>
                        <% } %>
                    <% } %>
                </select>
                <button class="rpl col-span-full mt-1.5  transition-all w-full text-center px-4 py-1.5 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-100 bg-teal-700 dark:bg-teal-800 hover:bg-teal-700 dark:hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-1 dark:focus:ring-offset-darkBlue-secondary dark:focus:ring-teal-800 focus:ring-teal-500"
                    type="submit">Update course & year</button>
            </form>
        </div>
    </div>
    <div class="flex items-center justify-start px-2.5">
        <span class="dark:text-gray-300 text-base"></span>
    </div>
    <div style="animation-delay: 1s;" class="animate__animated animate__fadeInUp ms-500 flex items-center justify-start px-2.5">
        <span class="dark:text-gray-300 text-base">User Account Settings</span>
    </div>
    <div class="grid grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-2 px-2.5 py-3 pt-0">
        <div style="animation-delay: 1.25s;" class="animate__animated animate__fadeInUp ms-500 h-[fit-content] cursor-pointer shadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Account</span>
            <form class="update_account flex flex-col gap-1 mt-2">
                <input type="hidden" name="id" value="<%- userData._id %>">
                <div class="dark:bg-amber-800/30 dark:border-l-4 dark:border-amber-700 dark:text-amber-600 text-sm font-normal p-2">
                    Update or Reset User Account
                </div>
                <div class="relative flex w-full flex-wrap items-stretch mt-2">
                    <span
                        class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3 pt-2.5">
                        <i class="fas fa-user dark:text-amber-600"></i>
                    </span>
                    <input type="text" autocomplete="off" placeholder="Username" required
                        name="usr"
                        class="dark_border px-3 py-2.5 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none dark:focus:border-purple-700 transition-all w-full pl-10" />
                </div>
                <div class="relative flex w-full flex-wrap items-stretch">
                    <span
                        class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3 pt-2.5">
                        <i class="fas fa-lock dark:text-teal-600"></i>
                    </span>
                    <input type="password" autocomplete="off" placeholder="Password"
                        required name="pass"
                        class="peer dark_border px-3 py-2.5 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none dark:focus:border-purple-700 transition-all w-full pl-10" />
                    <span
                        class="show_pass animate__animated animate__bounceIn hover:block focus:block peer-focus-within:block peer-focus:block hidden transition-all z-10 right-2 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                        <i class="fas fa-eye dark:text-indigo-600 cursor-pointer"></i>
                    </span>
                </div>
                <div class="flex flex-row gap-1.5">
                    <button class="rpl col-span-full mt-1.5  transition-all w-full text-center px-4 py-1.5 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-100 bg-teal-700 dark:bg-teal-800 hover:bg-teal-700 dark:hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-1 dark:focus:ring-offset-darkBlue-secondary dark:focus:ring-teal-800 focus:ring-teal-500"
                    type="submit">Update</button>
                    <button class="reset_account rpl col-span-full mt-1.5 transition-all w-full text-center px-4 py-1.5 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-rose-700 dark:bg-rose-800 hover:bg-rose-700 dark:hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-1 dark:focus:ring-offset-darkBlue-secondary dark:focus:ring-rose-800 focus:ring-rose-500"
                        type="button">Reset Account</button>
                </div>
            </form>
        </div>
        <div style="animation-delay: 1.50s;" class="animate__animated animate__fadeInUp ms-500 h-[fit-content] cursor-pointer shadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Account</span>
            <div class="flex flex-col gap-2">
                <form class="grid grid-cols-2 gap-1">
                    <input type="hidden" name="id" value="<%- userData._id %>">
                    <button class="rpl col-span-full mt-1.5 transition-all w-full text-center px-4 py-1.5 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-rose-700 dark:bg-rose-800 hover:bg-rose-700 dark:hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-1 dark:focus:ring-offset-darkBlue-secondary dark:focus:ring-rose-800 focus:ring-rose-500"
                        type="submit">Delete Account</button>
                </form>
            </div>
        </div>
    </div>
</div>