<!DOCTYPE html>
<html lang="en" class="font-sans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" class="theme-color" content="#6b21a8">
    <meta name="csrf-token" content="<%- csrf %>">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-png">
    <title>Users</title>
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
    <%- include('../cdn/_home') %>
    <script>
        document.onreadystatechange = () => {
            setTimeout( () => {
                $(".loading").remove()
            }, 500)
        }
    </script>
</head>

<body class="bg-gray-300 dark:bg-[#090c10] transition-all antialiased">
    <!-- Laxy progress bar -->
    <%- include('../../lazy/loading-progress') %>
    <!-- on ready state -->
    <div class="loading flex justify-center w-screen h-screen items-center">
        <%- include('../../lazy/loading') %>
    </div>
    <!-- Navigation -->
    <div class="w-full z-10 bg-gray-100 dark:bg-darkBlue-secondary shadow-lg grid grid-cols-2 fixed top-0 p-2 px-0 transition-all">
        <div class="flex justify-start items-center">
            <a href="/control/elections/" class="rpl ml-2 transition-all dark:text-gray-200 text-bluegray-600 text-2xl px-2 cursor-pointer mr-2">
                <i class="fa fa-arrow-circle-left"></i>
            </a>
            <span class="font-semibold text-purple-800 dark:text-purple-500 text-xl">Users</span>
        </div>
        <div class="flex items-center justify-end">
            <a class="add_user_open transition-all dark:hover:bg-bluegray-800 flex flex-row gap-2 items-center cursor-pointer rpl text-xl rounded-md p-2 px-3">
                <span class="text-purple-700 dark:text-purple-500">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span class="sm:hidden text-base dark:text-purple-500 text-purple-700 font-normal">Add User</span>
            </a>
            <a class="side_nav_open rpl mr-3 px-3 py-2 cursor-pointer text-xl rounded-md dark:text-gray-200">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </div>
    <!-- Add user -->
    <div class="add_user fixed top-0 hidden justify-end items-center sm:items-end p-2 sm:p-0 dark:bg-darkBlue-primary/50 w-full h-full z-20">
        <div animate-in="animate__animated animate__fadeInRight ms-300" animate-out="animate__animated animate__fadeOutRight ms-300" class="add_user_main dark_border rounded-md sm:rounded-b-none w-96 sm:w-full h-full sm:h-5/6 dark:bg-darkBlue-secondary">
            <div class="w-full dark_border_b flex justify-center items-center py-4">
                <p class="text-xl font-medium sm:text-lg text-purple-800 dark:text-purple-500 dark:font-semibold">Add User Account</p>
            </div>
            <form class="add_user_form h-[calc(100%-61px)] overflow-y-auto">
                <div class="flex flex-col gap-2 py-2 px-3">
                    <div class="container transition-all">
                        <label for="sid" class=" dark:text-gray-300/80">Student ID</label>
                        <input autocomplete="off" autocapitalize="characters" name="sid" placeholder="Student ID" type="text" class="dark:bg-transparent dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 w-full outline-none border border-gray-300 rounded-md  transition-all py-2 px-3 text-gray-900 " required>
                    </div>
                    <div class="container transition-all grid grid-cols-2 gap-2">
                        <div>
                            <label for="fname" class=" dark:text-gray-300/80">Firstname</label>
                            <input autocomplete="off" name="fname" placeholder="Firstname" type="text" class="dark:bg-transparent dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 w-full outline-none border border-gray-300 rounded-md  transition-all py-2 px-3 text-gray-900 " required>
                        </div>
                        <div>
                            <label for="mname" class=" dark:text-gray-300/80">Middlename</label>
                            <input autocomplete="off" name="mname" placeholder="Middlename" type="text" class="dark:bg-transparent dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 w-full outline-none border border-gray-300 rounded-md  transition-all py-2 px-3 text-gray-900 " required>
                        </div>
                    </div>
                    <div class="flex container transition-all flex-col">
                        <label for="lname" class=" dark:text-gray-300/80">Lastname</label>
                        <input autocomplete="off" name="lname" placeholder="Lastname" type="text" class="dark:bg-transparent dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 w-full outline-none border border-gray-300 rounded-md  transition-all py-2 px-3 text-gray-900 " required>
                    </div>
                    <div class="container transition-all grid grid-cols-2 gap-2">
                        <div>
                            <label for="fnmae" class=" dark:text-gray-300/80">Course</label>
                            <select name="crs" class="dark:bg-darkBlue-secondary dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 w-full outline-none border border-gray-300 rounded-md  transition-all py-2 px-3 text-gray-900 " required>
                                <option value="">Select Course</option>
                                <% for(let c = 0; c < data.course.length; c++) { %> 
                                    <option value="<%- data.course[c].id %>"><%- data.course[c].type %></option>
                                <% } %>
                            </select>
                        </div>
                        <div>
                            <label for="yr" class=" dark:text-gray-300/80">Year</label>
                            <select name="yr" class="dark:bg-darkBlue-secondary dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 w-full outline-none border border-gray-300 rounded-md  transition-all py-2 px-3 text-gray-900 " required>
                                <option value="">Select Year</option>
                                <% for(let y = 0; y < data.year.length; y++) { %> 
                                    <option value="<%- data.year[y].id %>"><%- data.year[y].type %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="container transition-all">
                        <div>
                            <label for="fnmae" class=" dark:text-gray-300/80">User Type</label>
                            <select name="type" class="dark:bg-darkBlue-secondary dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 w-full outline-none border border-gray-300 rounded-md  transition-all py-2 px-3 text-gray-900 " required>
                                <option value="">User Type</option>
                                <option value="Candidate">Candidate</option>
                                <option value="Voter">Voter</option>
                            </select>
                        </div>
                    </div>
                    <div class="dark:bg-amber-800/30 dark:border-l-4 dark:border-amber-700 dark:text-amber-600 text-sm font-normal p-2">
                        Username & Password will be generated automatically by the system
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2 items-end justify-center h-[calc(100%-470px)] w-full p-2">
                    <button type="reset" class="hidden">reset</button>
                    <button type="button" class="close_add_user rpl transition-all text-red-600 dark:text-rose-500 dark:font-medium border border-rose-500 dark:border-rose-600  font-normal py-1 rounded-lg outline-none mt-4 w-full">Close</button>
                    <button type="submit" class="rpl dark:disabled:bg-purple-600 disabled:bg-purple-500 rpl dark:hover:bg-purple-700 hover:bg-purple-600 dark:bg-purple-800 bg-purple-700 text-white dark:text-gray-200 transition-all font-normal py-1 rounded-lg focus:ring focus:ring-offset-2 dark:focus:ring-offset-darkBlue-secondary dark:focus:ring-purple-700 focus:ring-purple-500 focus:outline-none focus:shadow-outline mt-4 w-full">Add User</button>
                </div>
            </form>
        </div>
    </div>
    <!-- side nav -->
    <div class="side_nav fixed top-0 hidden justify-end items-end dark:bg-darkBlue-primary/20 w-full h-full z-20">
        <div  animate-in="animate__animated animate__fadeInRight ms-500" animate-out="animate__animated animate__fadeOutRight ms-500" class="side_nav_main w-96 sm:w-[calc(100%-50px)] h-full dark:bg-darkBlue-secondary">
            <div class="pl-3 py-3 dark_border_b w-full">
                <a class="close_side_nav rpl float-right px-3 rounded-full text-red-600 dark:text-rose-600 text-2xl cursor-pointer">
                    <i class="fad fa-times-circle"></i>
                </a>
                <span class="text-xl text-purple-600">Settings</span>
            </div>
            <div class="flex flex-col h-[calc(100%-55px)] py-2">
                <a href="/control/users/print/" target="_blank" class="rpl grid grid-cols-3 items-center px-3 py-2 hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 text-gray-900 dark:text-gray-300 text-lg cursor-pointer">
                    <span class="col-span-2 dark:text-gray-300 text-purple-800 text-base">Download all users data</span>
                    <div class="flex justify-end items-center">
                        <i class="dark:text-teal-500/50 text-xl fad fa-download"></i>
                    </div>
                </a>
                <a class="reset_all_users_account rpl grid grid-cols-3 items-center px-3 py-2 hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 text-gray-900 dark:text-gray-300 text-lg cursor-pointer">
                    <span class="col-span-2 dark:text-gray-300 text-purple-800 text-base">Reset all users account</span>
                    <div class="flex justify-end items-center">
                        <i class="dark:text-rose-500/50 text-xl fas fa-undo-alt"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- user information -->
    <div class="user_info transition-all fixed top-0 hidden justify-center items-center sm:items-end w-full h-full z-20 bg-darkBlue-primary/50">
        <div animate-in="animate__animated animate__fadeInUp ms-500" animate-out="animate__animated animate__fadeOutDown ms-500" class="user_info_main transition-all dark:bg-darkBlue-secondary h-[95%] sm:h-5/6 w-10/12 sm:w-full rounded-md sm:rounded-b-none dark_border">
            <div class="grid grid-cols-2 dark_border_b">
                <div class="flex justify-start items-center px-3">
                    <span class="text-xl text-purple-800 dark:text-purple-500">User Settings</span>
                </div>
                <div class="flex justify-end items-center">
                    <a class="cls_user_info rpl py-2 px-3 rounded-full float-right text-red-600 mr-1 mt-1 dark:text-rose-600 text-2xl cursor-pointer">
                        <i class="fad fa-times-circle"></i>
                    </a>
                </div>
            </div>
            <div class="h-[calc(100%-53px)] flex flex-row xl:flex-col-reverse">
                <div class="flex-[20%] xl:flex-[1%] flex flex-col xl:grid xl:grid-cols-6 gap-2 border-r xl:border-r-0 xl:border-t dark:border-[#30363d]">
                    <a data="info" class="user_info_menu rpl xl:text-center flex flex-row items-center xl:justify-center px-3 py-2 hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 text-gray-900 dark:text-gray-300 text-lg cursor-pointer">
                        <i class="dark:text-teal-500 w-9 xl:w-full text-xl">
                            <i class="fad fa-info-circle"></i>
                        </i>
                        <span class="dark:text-gray-300 text-purple-800 font-light text-base xl:hidden">User Information</span>
                    </a>
                    <a data="elections" class="user_info_menu rpl xl:text-center flex flex-row items-center xl:justify-center px-3 py-2 hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 text-gray-900 dark:text-gray-300 text-lg cursor-pointer">
                        <i class="dark:text-amber-500 w-9 xl:w-full text-xl">
                            <i class="fad fa-ballot-check"></i>
                        </i>
                        <span class="dark:text-gray-300 text-purple-800 font-light text-base xl:hidden">Elections Attended</span>
                    </a>
                    <a data="account" class="user_info_menu rpl xl:text-center flex flex-row items-center xl:justify-center px-3 py-2 hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 text-gray-900 dark:text-gray-300 text-lg cursor-pointer">
                        <i class="dark:text-indigo-500 w-9 xl:w-full text-xl">
                            <i class="fad fa-user-cog"></i>
                        </i>
                        <span class="dark:text-gray-300 text-purple-800 font-light text-base xl:hidden">Account Settings</span>
                    </a>
                    <a data="devices" class="user_info_menu rpl xl:text-center flex flex-row items-center xl:justify-center px-3 py-2 hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 text-gray-900 dark:text-gray-300 text-lg cursor-pointer">
                        <i class="dark:text-fuchsia-700 w-9 xl:w-full text-xl">
                            <i class="fad fa-tablet-alt"></i>
                        </i>
                        <span class="dark:text-gray-300 text-purple-800 font-light text-base xl:hidden">Devices</span>
                    </a>
                    <a data="email" class="user_info_menu rpl xl:text-center flex flex-row items-center xl:justify-center px-3 py-2 hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 text-gray-900 dark:text-gray-300 text-lg cursor-pointer">
                        <i class="dark:text-orange-700 w-9 xl:w-full text-xl">
                            <i class="fad fa-envelope"></i>
                        </i>
                        <span class="dark:text-gray-300 text-purple-800 font-light text-base xl:hidden">Email</span>
                    </a>
                    <a data="requests" class="user_info_menu rpl xl:text-center flex flex-row items-center xl:justify-center px-3 py-2 hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 text-gray-900 dark:text-gray-300 text-lg cursor-pointer">
                        <i class="dark:text-yellow-700 w-9 xl:w-full text-xl">
                            <i class="fas fa-bell-exclamation"></i>
                        </i>
                        <span class="dark:text-gray-300 text-purple-800 font-light text-base xl:hidden">User Requests</span>
                    </a>
                </div>
                <div class="info_main_list flex-[80%] sm:flex-[99%] overflow-y-auto p-1">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="container pt-16">
        <div class="grid grid-cols-2 px-2 gap-2">
            <div class="flex justify-start items-center">
                <input autocomplete="off" type="search" placeholder="Search by Name" class="search_user_input w-auto sm:w-full dark:bg-transparent dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 outline-none border border-gray-300 rounded-lg transition-all py-2 px-3 text-gray-900 ">
            </div>
            <div class="flex justify-end items-center">
                <select class="sort_users sm:w-full dark:bg-darkBlue-primary dark:text-gray-200 dark_border dark:focus:border-purple-600 focus:border-purple-600 mt-1 w-auto outline-none border border-gray-300 rounded-md  transition-all py-2 px-3 text-gray-900 ">
                    <option value=""> - Sort Users</option>
                    <optgroup label="Active Status">
                        <option value='<%- JSON.stringify({type: 'active_status', id: 'default'}) %>'>Default</option>
                        <option value='<%- JSON.stringify({type: 'active_status', id: 'online'}) %>'>Online</option>
                        <option value='<%- JSON.stringify({type: 'active_status', id: 'offline'}) %>'>Offline</option>
                    </optgroup>
                    <optgroup label="Course">
                        <% for(let c = 0; c < data.course.length; c++) { %> 
                            <option value='<%- JSON.stringify({type: 'course', id: data.course[c].id}) %>'><%- data.course[c].type %></option>
                        <% } %>
                    </optgroup>
                    <optgroup label="Year">
                        <% for(let y = 0; y < data.year.length; y++) { %> 
                            <option value='<%- JSON.stringify({type: 'year', id: data.year[y].id}) %>'><%- data.year[y].type %></option>
                        <% } %>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="all_users_list grid grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-none gap-3 p-2 transition-all">
            <% for (let i = 0; i < 20; i++) { %>
                <div style="animation-delay: <%- i * .250%>s;" class="user_list_skeleton relative animate__animated animate__fadeInUp ms-500 dark_border shadow-lg rounded-md dark:bg-darkBlue-secondary p-3">
                    <div class="absolute w-4 h-4 rounded-full skeleton right-3"></div>
                    <div class="flex flex-col gap-2 items-center">
                        <div class="h-36 w-36 object-cover rounded-full skeleton transition-all"></div>
                        <div class="flex flex-col justify-center items-center">
                            <p class="text-lg dark:text-gray-300/90 font-normal mb-1 w-[100px] skeleton"></p>
                            <p class="text-base dark:text-blue-600 font-normal w-[50px] skeleton"></p>
                        </div>
                    </div>
                    <div class="flex w-full mt-5">
                        <button class="rpl w-full dark:bg-purple-800/60 py-2 rounded-md focus:outline-none dark:text-gray-300/80 skeleton" type="button"></button>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="/js/color.js"></script>
    <script src="/control/js/io.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/avatar.js "></script>
    <script src="/control/js/user.js "></script>
    <script src="/js/audio_file.js"></script>
    <script src="/js/audio.js"></script>
    <script src="/js/fetch.js"></script>
    <script src="/js/time.js"></script>
    <script src="/js/toast.js"></script>
    <script>
        $.ripple(".rpl", {
                debug: false,
                on: 'mousedown',
                opacity: 0.3,
                color: "auto",
                multi: false,
                duration: 0.7,
                rate: function(pxPerSecond) {
                    return pxPerSecond;
                },
                easing: 'linear'
            })
    </script>
</body>

</html>