<% 
    const Data = {
        course: (id) => {
            for(let c = 0; c < data.courses.length; c++) {
                if(data.courses[c].id === id) {
                    return data.courses[c].type
                }
            }
        },
        year: (id) => {
            for(let y = 0; y < data.year.length; y++) {
                if(data.year[y].id === id) {
                    return data.year[y].type
                }
            }
        },
    }
%>
<div class="flex flex-col gap-3 p-2">
    <div style="animation-delay: .250s;" class="animate__animated animate__fadeInDown ms-500 flex justify-center items-center py-5">
        <div class="relative">
            <img class="w-40 h-40 object-cover rounded-full" src="/profile/<%- userData.student_id %>/">
            <a class="absolute dark:border dark:border-indigo-600 cursor-pointer bottom-1 right-3 dark:text-indigo-700 dark:bg-darkBlue-200 rounded-full px-3 py-2">
                <i class="fad fa-edit"></i>
            </a>
        </div>
    </div>
    <div class="grid grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 transition-all gap-2 px-3 sm:px-0">
        <div style="animation-delay: .500s;" class="rpl animate__animated animate__fadeInUp ms-500 cursor-pointer shadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Name</span>
            <span class="dark:text-gray-300/80"><%- `${userData.firstname} ${userData.middlename} ${userData.lastname}` %></span>
        </div>
        <div style="animation-delay: .750s;" class="rpl animate__animated animate__fadeInUp ms-500 cursor-pointer shadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Course & Year</span>
            <span class="dark:text-gray-300/80"><%- `${Data.course(userData.course)} ${Data.year(userData.year)}` %></span>
        </div>
        <div style="animation-delay: 1s;" class="rpl animate__animated animate__fadeInUp ms-500 cursor-pointer hadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Student ID</span>
            <span class="dark:text-gray-300/80"><%- userData.student_id %></span>
        </div>
        <div style="animation-delay: 1.25s;" class="rpl animate__animated animate__fadeInUp ms-500 col-span-full cursor-pointer hadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Bio</span>
            <span class="dark:text-gray-300/80"><%- userData.bio ? userData.bio : 'User Bio is empty' %></span>
        </div>
        <div style="animation-delay: 1.50s;" class="rpl animate__animated animate__fadeInUp ms-500 cursor-pointer hadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">User Type</span>
            <span class="dark:text-gray-300/80"><%- userData.type %></span>
        </div>
        <div style="animation-delay: 1.75s;" class="rpl animate__animated animate__fadeInUp ms-500 cursor-pointer hadow-md dark:bg-darkBlue-100 p-2 flex flex-col gap-2 rounded-md">
            <span class="dark:text-purple-600">Active Status</span>
            <div class="container">
                <% if(userData.socket_id === 'Online') { %> 
                    <span class="dark:bg-teal-700/40 bg-teal-600 dark:text-teal-500 text-gray-50 px-4 py-0.5 text-sm rounded-lg">Online</span>
                <% } else { %> 
                    <span class="dark:bg-gray-700 bg-gray-600  text-gray-300 px-4 py-0.5 text-sm rounded-lg">Offline</span>
                <% } %>
            </div>
        </div>
    </div>
</div>