<!DOCTYPE html>
<html lang="en" class="font-sans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" class="theme-color" content="#6b21a8">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-png">
    <title>Admin Dashboard</title>
    <%- include('cdn/_home') %>
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
    <script>
        document.onreadystatechange = () => {
            setTimeout( () => {
                $(".loading").remove()
                $(".body_main_content").removeClass("hidden")
            }, 500)
        }
    </script>
</head>
<body class="bg-gray-300 dark:bg-[#090c10] transition-all antialiased">
    <!-- lazy progressbar -->
    <%- include('../lazy/loading-progress') %>
    <div class="loading flex justify-center w-screen h-screen items-center">
        <%- include('../lazy/loading') %>
    </div>
    <div class="body_main_content hidden animate__animated animate__fadeIn ms-500 transition-all">
        <div class="main_admin">
            <div class="nav_main dark:bg-[#161b22] bg-gray-100 shadow-xl fixed flex w-full transition-all top-0  z-10">
                <div class="w-full flex flex-row">
                    <p class="flex-[20%] w-full text-purple-800 dark:text-gray-200 text-xl p-4 font-bold mt-[1px]">Admin Dashboard</p>
                    <div animate-in="animate__animated animate__fadeInRight ms-300" animate-out="animate__animated animate__fadeOutRight ms-300"  class="nav transition-all xl:bg-gray-200 xl:dark:bg-darkBlue-secondary md:shadow-xl flex w-full justify-end p-[10px] xl:shadow-lg xl:fixed xl:w-96 md:w-[calc(100%-50px)] xl:right-0 xl:h-screen xl:flex-col xl:justify-start xl:hidden">
                        <div class="xl:flex justify-end hidden">
                            <i class="close_nav text-red-600 mr-3 mt-2 dark:text-gray-200 text-2xl cursor-pointer">
                                <i class="fa fa-times-circle"></i>
                            </i>
                        </div>
                        <a class="dark_mode rpl rounded-lg transition-all p-[8px] px-3 text-gray-900 dark:text-yellow-300 text-lg cursor-pointer mr-1 last:mr-0 my:mr-0 my:mt-2">
                            <i class="fa fa-sun"></i> 
                        </a>
                        <a class="list_btn hover:bg-purple-300 font-normal rounded-lg transition-all dark:hover:bg-[#253547] p-[8px] px-3 text-gray-900 dark:text-gray-300 text-lg cursor-pointer mr-2 my:mr-0 my:mt-2 my:hover:tracking-wider rpl" href="/control">
                            <i class="hidden xl:block xl:float-right xl:text-green-500">
                                <i class="fas fa-home text-xl"></i>
                            </i>
                            <span class="ml-[1px] transition-all">Home</span>
                        </a>
                        <a class="list_btn hover:bg-purple-300 font-normal rounded-lg transition-all dark:hover:bg-[#253547] p-[8px] px-3 text-gray-900 dark:text-gray-300 text-lg cursor-pointer mr-2 my:mr-0 my:mt-2 my:hover:tracking-wider rpl" href="voters/">
                            <i class="hidden xl:block xl:float-right xl:text-pink-500">
                                <i class="fas fa-users text-xl"></i>
                            </i>
                            <span class="ml-[1px] transition-all">Voters</span>
                        </a>
                        <a href="elections/" class="hover:bg-purple-300 font-normal rounded-lg transition-all dark:hover:bg-[#253547] p-[8px] px-3 text-gray-900 dark:text-gray-300 text-lg cursor-pointer mr-2 my:mr-0 my:mt-2 my:hover:tracking-wider rpl">
                           <i class="hidden xl:block xl:float-right xl:text-blue-500">
                              <i class="fas fa-ballot-check text-xl"></i> 
                           </i>
                           <span class="ml-[1px] transition-all">Manage Elections</span>
                        </a>
                        <a class="list_btn hover:bg-purple-300 font-normal rounded-lg transition-all dark:hover:bg-[#253547] p-[8px] px-3 text-gray-900 dark:text-gray-300 text-lg cursor-pointer mr-2 my:mr-0 my:mt-2 my:hover:tracking-wider rpl" data="settings">
                            <i class="hidden xl:block xl:float-right xl:text-indigo-500">
                                <i class="fas fa-cog text-xl"></i>
                            </i>
                            <span class="ml-[1px] transition-all">Settings</span>
                        </a>
                        <a class="list_btn hover:bg-purple-300 font-normal rounded-lg transition-all dark:hover:bg-[#253547] p-[8px] px-3 text-gray-900 dark:text-gray-300 text-lg cursor-pointer mr-2 my:mr-0 my:mt-2 my:hover:tracking-wider rpl" data="settings">
                            <i class="hidden xl:block xl:float-right xl:text-violet-500">
                               <i class="fas fa-bell text-xl"></i> 
                            </i>
                            <span class="ml-[1px] transition-all">Notifications</span>
                        </a>
                        <a class="list_btn hover:bg-purple-300 font-normal rounded-lg transition-all dark:hover:bg-[#253547] p-[8px] px-3 text-gray-900 dark:text-gray-300 text-lg cursor-pointer mr-2 my:mr-0 my:mt-2 my:hover:tracking-wider rpl" data="settings">
                            <i class="hidden xl:block xl:float-right xl:text-lime-500">
                                <i class="fas fa-comment-lines text-xl"></i>
                            </i>
                            <span class="ml-[1px] transition-all">Messages</span>
                        </a>
                        <a class="ignore list_btn rounded-lg transition-all my:mt-5 my:text-center bg-red-700 dark:bg-red-900 dark:hover:bg-red-700 text-gray-100 py-[8px] px-[15px] text-lg cursor-pointer mr-1 last:mr-0 my:mr-0 my:hover:tracking-wider rpl" href="../../logout"><i class="far fa-sign-out-alt"></i></a>
                    </div>
                    <div class="hidden xl:block transition-all p-[10px]">
                        <div class="open_nav rounded-lg transition-all p-[8px] text-gray-900 dark:text-gray-200 text-lg cursor-pointer mr-1 last:mr-0">
                            <i class="fas fa-bars"></i></div>
                    </div>
                </div>
            </div>
            <div class="mt-16">
                <div class="elections w-full p-2">
                    <div class="container text-2xl mb-3 font-semibold dark:text-gray-300">Elections <span class="float-right font-normal"><%- elections.length %></span></div>
                    <div class="election_list px-1 transition-all grid grid-cols-3 xl:grid-cols-2 md:grid-cols-none gap-3">
                        <%- include('forms/elections_chart', {elections: elections}) %>
                    </div>
                </div>
                <div class="voters mx-auto w-full p-[10px] mt-4">
                    <div class="container text-2xl mb-3 font-semibold dark:text-gray-300">All Voters <span class="float-right font-normal">6</span></div>
                    <div class="grid grid-cols-4 xl:grid-cols-2 my:grid-cols-1 gap-3 transition-all md:max-h-[90vh] md:overflow-y-scroll md:flex md:flex-col md:p-2">
                        <div data-color="#bdbdbd" class="card rpl dark:bg-[#161b22] z-0 p-[8px] md:w-full cursor-pointer flex flex-row shadow-xl bg-gray-100 rounded-2xl transition-all">
                            <div class="relative">
                                <img class="icon_e_name h-[60px] w-[60px] object-cover rounded-full" alt="election_ic" src="/assets/image.jpg">
                                <div class="absolute h-[15px] w-[15px] rounded-full bg-green-600 right-[1px] bottom-1">
                                </div>
                            </div>
                            <div class="user_info md:w-full transition-all flex items-center">
                                <p class="text-left w-full font-medium text-base ml-2 dark:text-gray-300">Jake Peregrino Velasco
                                </p>
                                <div class="ml-10 transition-all hover:bg-gray-500 p-[5px] rounded-md hover:text-gray-100 text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-200">
                                    <i class="fa fa-ellipsis-h"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loader container transition-all"></div>
    </div>
</div>
    <!-- end main -->
        <script src="/control/js/home.js "></script>
        <script src="/js/scroll_div.js "></script>
        <script src="/js/time.js "></script>
        <script src="/js/avatar.js "></script>
        <script src="/js/theme.js "></script>
        <script src="/socket.io/socket.io.js"></script> 
        <script src="/control/js/io.js "></script>
        <script src="/js/color.js"></script>
        <script src="/js/avatar.js"></script>
        <script src="/js/audio_file.js "></script>
        <script src="/js/audio.js "></script>
        <script>
            $(".dark_mode ").click(function() {
                const theme = localStorage.getItem('theme')
                const sun = '<i class="fa fa-sun "></i>'
                const moon = '<i class="fa fa-moon "></i>'
                if (theme == null || theme == "default") {
                    $(this).html(moon)
                    localStorage.setItem('theme', 'dark')
                    $('html').removeClass("default ")
                    $('html').addClass("dark ")
                    $(".theme-color").attr("content", "#161b22")
                } else {
                    $(this).html(sun)
                    localStorage.setItem('theme', 'default')
                    $('html').addClass("default")
                    $('html').removeClass("dark")
                    $(".theme-color").attr("content", "#6b21a8")
                }
            })
            $.ripple(".rpl", {
                debug: false,
                on: 'mousedown',
                opacity: 0.3,
                color: "#a5dc86",
                multi: false,
                duration: 0.7,
                rate: function(pxPerSecond) {
                    return pxPerSecond;
                },
                easing: 'linear'
            })
            $.ripple(".rpl-h", {
                debug: false,
                on: 'mouseover',
                opacity: 0.3,
                color: "auto",
                multi: false,
                duration: 0.5,
                rate: function(pxPerSecond) {
                    return pxPerSecond;
                },
                easing: 'linear'
            })
        </script>
</body>

</html>
